body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:16px;
}
#u713 {
  position:absolute;
  left:461px;
  top:215px;
  width:788px;
  height:16px;
  font-size:44px;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u716_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:440px;
  height:6px;
}
#u716 {
  position:absolute;
  left:328px;
  top:240px;
  width:437px;
  height:3px;
}
#u717 {
  position:absolute;
  left:2px;
  top:-6px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:70px;
}
#u718 {
  position:absolute;
  left:582px;
  top:210px;
  width:436px;
  height:60px;
  font-size:14px;
}
#u719 {
  position:absolute;
  left:10px;
  top:10px;
  width:416px;
  word-wrap:break-word;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:964px;
}
#u721 {
  position:absolute;
  left:26px;
  top:7px;
  width:376px;
  height:964px;
}
#u722 {
  position:absolute;
  left:2px;
  top:474px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:959px;
}
#u724 {
  position:absolute;
  left:28px;
  top:9px;
  width:372px;
  height:959px;
}
#u725 {
  position:absolute;
  left:2px;
  top:472px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:779px;
}
#u726 {
  position:absolute;
  left:34px;
  top:95px;
  width:360px;
  height:779px;
}
#u727 {
  position:absolute;
  left:2px;
  top:382px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:12px;
}
#u728 {
  position:absolute;
  left:130px;
  top:44px;
  width:168px;
  height:12px;
}
#u729 {
  position:absolute;
  left:2px;
  top:-2px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:12px;
}
#u730 {
  position:absolute;
  left:130px;
  top:911px;
  width:168px;
  height:12px;
}
#u731 {
  position:absolute;
  left:2px;
  top:-2px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:87px;
}
#u732 {
  position:absolute;
  left:34px;
  top:96px;
  width:342px;
  height:87px;
}
#u733 {
  position:absolute;
  left:2px;
  top:36px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:87px;
}
#u734 {
  position:absolute;
  left:376px;
  top:96px;
  width:7px;
  height:87px;
}
#u735 {
  position:absolute;
  left:2px;
  top:36px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:431px;
}
#u736 {
  position:absolute;
  left:376px;
  top:183px;
  width:7px;
  height:431px;
}
#u737 {
  position:absolute;
  left:2px;
  top:208px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u738 {
  position:absolute;
  left:190px;
  top:138px;
  width:57px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u739 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
}
#u740 {
  position:absolute;
  left:51px;
  top:223px;
  width:91px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u742 {
  position:absolute;
  left:353px;
  top:226px;
  width:30px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u744 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u745_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:440px;
  height:6px;
}
#u745 {
  position:absolute;
  left:328px;
  top:312px;
  width:437px;
  height:3px;
}
#u746 {
  position:absolute;
  left:2px;
  top:-6px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:70px;
}
#u747 {
  position:absolute;
  left:582px;
  top:282px;
  width:436px;
  height:60px;
  font-size:16px;
}
#u748 {
  position:absolute;
  left:10px;
  top:10px;
  width:416px;
  word-wrap:break-word;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u750_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:440px;
  height:6px;
}
#u750 {
  position:absolute;
  left:322px;
  top:407px;
  width:437px;
  height:3px;
}
#u751 {
  position:absolute;
  left:2px;
  top:-6px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:70px;
}
#u752 {
  position:absolute;
  left:576px;
  top:377px;
  width:436px;
  height:60px;
  font-size:16px;
}
#u753 {
  position:absolute;
  left:10px;
  top:10px;
  width:416px;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:263px;
}
#u754 {
  position:absolute;
  left:33px;
  top:298px;
  width:362px;
  height:263px;
}
#u755 {
  position:absolute;
  left:2px;
  top:124px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
