body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1586px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:524px;
}
#u6794 {
  position:absolute;
  left:10px;
  top:11px;
  width:1115px;
  height:524px;
}
#u6795 {
  position:absolute;
  left:2px;
  top:254px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:535px;
}
#u6796 {
  position:absolute;
  left:792px;
  top:0px;
  width:424px;
  height:535px;
}
#u6797 {
  position:absolute;
  left:2px;
  top:260px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u6798 {
  position:absolute;
  left:1216px;
  top:368px;
  width:225px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6799 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  visibility:hidden;
  white-space:nowrap;
}
#u6800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6800 {
  position:absolute;
  left:823px;
  top:133px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6801 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u6802 {
  position:absolute;
  left:805px;
  top:357px;
  width:52px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6803 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u6804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6804 {
  position:absolute;
  left:1107px;
  top:384px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6805 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u6806 {
  position:absolute;
  left:823px;
  top:217px;
  width:52px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6807 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u6808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:146px;
}
#u6808 {
  position:absolute;
  left:823px;
  top:425px;
  width:452px;
  height:146px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6809 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u6810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u6810 {
  position:absolute;
  left:430px;
  top:297px;
  width:150px;
  height:30px;
}
#u6811 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u6812_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u6812 {
  position:absolute;
  left:432px;
  top:253px;
  width:77px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6813 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u6814 {
  position:absolute;
  left:1111px;
  top:206px;
  width:67px;
  height:37px;
}
#u6815 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u6816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6816 {
  position:absolute;
  left:823px;
  top:38px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6817 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u6818 {
  position:absolute;
  left:823px;
  top:65px;
  width:52px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6819 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u6820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:15px;
}
#u6820 {
  position:absolute;
  left:925px;
  top:523px;
  width:432px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6821 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u6822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u6823 {
  position:absolute;
  left:160px;
  top:1394px;
  width:78px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6824 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u6825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6825 {
  position:absolute;
  left:130px;
  top:1283px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6826 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6827 {
  position:absolute;
  left:343px;
  top:1282px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6828 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6829 {
  position:absolute;
  left:41px;
  top:1250px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6830 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6831 {
  position:absolute;
  left:55px;
  top:1501px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6832 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6833 {
  position:absolute;
  left:130px;
  top:1335px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6834 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6835 {
  position:absolute;
  left:343px;
  top:1334px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6836 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u6837 {
  position:absolute;
  left:160px;
  top:1439px;
  width:78px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6838 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u6839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6839 {
  position:absolute;
  left:118px;
  top:1557px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6840 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6841 {
  position:absolute;
  left:331px;
  top:1556px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6842 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6843 {
  position:absolute;
  left:118px;
  top:1609px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6844 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6845 {
  position:absolute;
  left:331px;
  top:1608px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6846 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6847 {
  position:absolute;
  left:337px;
  top:1400px;
  width:61px;
  height:25px;
}
#u6847_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6847_input {
  color:#000000;
}
#u6847_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:67px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6848 {
  position:absolute;
  left:408px;
  top:1400px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6849 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6850 {
  position:absolute;
  left:337px;
  top:1445px;
  width:61px;
  height:25px;
}
#u6850_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6850_input {
  color:#000000;
}
#u6850_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:67px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6851 {
  position:absolute;
  left:408px;
  top:1445px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6852 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6853 {
  position:absolute;
  left:928px;
  top:503px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6854 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6855 {
  position:absolute;
  left:1174px;
  top:510px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6856 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6857 {
  position:absolute;
  left:928px;
  top:558px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6858 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:46px;
}
#u6859 {
  position:absolute;
  left:984px;
  top:543px;
  width:205px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6860 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u6861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6861 {
  position:absolute;
  left:812px;
  top:497px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6862 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6863 {
  position:absolute;
  left:1103px;
  top:559px;
  width:61px;
  height:20px;
}
#u6863_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6863_input {
  color:#000000;
}
#u6863_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:67px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:46px;
}
#u6864 {
  position:absolute;
  left:279px;
  top:1100px;
  width:129px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6865 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6866 {
  position:absolute;
  left:792px;
  top:10px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6867 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u6868 {
  position:absolute;
  left:1011px;
  top:25px;
  width:140px;
  height:30px;
  text-align:right;
}
#u6869 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u6870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
}
#u6870 {
  position:absolute;
  left:1011px;
  top:52px;
  width:140px;
  height:28px;
  text-align:right;
}
#u6871 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u6872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:57px;
}
#u6873 {
  position:absolute;
  left:1271px;
  top:25px;
  width:284px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6874 {
  position:absolute;
  left:10px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u6875_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u6875 {
  position:absolute;
  left:1151px;
  top:38px;
  width:120px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6876 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u6877 {
  position:absolute;
  left:1097px;
  top:122px;
  width:67px;
  height:37px;
}
#u6878 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u6879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6879 {
  position:absolute;
  left:801px;
  top:286px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6880 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u6881 {
  position:absolute;
  left:908px;
  top:297px;
  width:140px;
  height:30px;
  text-align:right;
}
#u6882 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u6883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
}
#u6883 {
  position:absolute;
  left:1048px;
  top:297px;
  width:140px;
  height:28px;
  text-align:right;
}
#u6884 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u6885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
}
#u6885 {
  position:absolute;
  left:908px;
  top:327px;
  width:280px;
  height:26px;
}
#u6886 {
  position:absolute;
  left:2px;
  top:6px;
  width:276px;
  word-wrap:break-word;
}
#u6887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6887 {
  position:absolute;
  left:825px;
  top:382px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6888 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:15px;
}
#u6889 {
  position:absolute;
  left:990px;
  top:424px;
  width:197px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6890 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u6891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u6891 {
  position:absolute;
  left:1125px;
  top:457px;
  width:300px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6892 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:123px;
}
#u6894 {
  position:absolute;
  left:1302px;
  top:447px;
  width:284px;
  height:113px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6895 {
  position:absolute;
  left:10px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u6896_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:23px;
}
#u6896 {
  position:absolute;
  left:1182px;
  top:455px;
  width:120px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6897 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6898 {
  position:absolute;
  left:1103px;
  top:510px;
  width:61px;
  height:25px;
}
#u6898_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6898_input {
  color:#000000;
}
#u6898_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:67px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:15px;
}
#u6899 {
  position:absolute;
  left:984px;
  top:585px;
  width:223px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6900 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:15px;
}
#u6901 {
  position:absolute;
  left:1038px;
  top:538px;
  width:160px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6902 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u6903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:132px;
}
#u6904 {
  position:absolute;
  left:416px;
  top:519px;
  width:284px;
  height:122px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6905 {
  position:absolute;
  left:10px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u6906_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:418px;
  height:23px;
}
#u6906 {
  position:absolute;
  left:700px;
  top:527px;
  width:415px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6907 {
  position:absolute;
  left:2px;
  top:2px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:89px;
}
#u6908 {
  position:absolute;
  left:246px;
  top:297px;
  width:150px;
  height:79px;
}
#u6909 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u6910_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u6910 {
  position:absolute;
  left:248px;
  top:253px;
  width:77px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6911 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6912 {
  position:absolute;
  left:823px;
  top:90px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6913 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
}
#u6914 {
  position:absolute;
  left:1011px;
  top:80px;
  width:140px;
  height:28px;
  text-align:right;
}
#u6915 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:57px;
}
#u6917 {
  position:absolute;
  left:1271px;
  top:82px;
  width:284px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6918 {
  position:absolute;
  left:10px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u6919_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u6919 {
  position:absolute;
  left:1151px;
  top:95px;
  width:120px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6920 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u6921 {
  position:absolute;
  left:823px;
  top:404px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6922 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:19px;
}
#u6923 {
  position:absolute;
  left:1044px;
  top:402px;
  width:118px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6924 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u6925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:50px;
}
#u6925 {
  position:absolute;
  left:869px;
  top:664px;
  width:118px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6926 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u6927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u6927 {
  position:absolute;
  left:1126px;
  top:624px;
  width:81px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u6928 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u6929 {
  position:absolute;
  left:869px;
  top:628px;
  width:96px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u6930 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u6931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:88px;
}
#u6931 {
  position:absolute;
  left:1121px;
  top:670px;
  width:154px;
  height:88px;
}
#u6932 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u6933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:38px;
}
#u6934 {
  position:absolute;
  left:316px;
  top:188px;
  width:143px;
  height:38px;
}
#u6935 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:38px;
}
#u6936 {
  position:absolute;
  left:269px;
  top:188px;
  width:47px;
  height:38px;
}
#u6937 {
  position:absolute;
  left:2px;
  top:11px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u6938 {
  position:absolute;
  left:459px;
  top:188px;
  width:43px;
  height:38px;
}
#u6939 {
  position:absolute;
  left:2px;
  top:11px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:198px;
}
#u6940 {
  position:absolute;
  left:122px;
  top:0px;
  width:565px;
  height:188px;
  text-align:center;
}
#u6941 {
  position:absolute;
  left:10px;
  top:10px;
  width:545px;
  word-wrap:break-word;
}
#u6942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:97px;
}
#u6942 {
  position:absolute;
  left:469px;
  top:206px;
  width:229px;
  height:87px;
}
#u6943 {
  position:absolute;
  left:10px;
  top:10px;
  width:209px;
  word-wrap:break-word;
}
