body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:524px;
}
#u6944 {
  position:absolute;
  left:10px;
  top:11px;
  width:1115px;
  height:524px;
}
#u6945 {
  position:absolute;
  left:2px;
  top:254px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:535px;
}
#u6946 {
  position:absolute;
  left:792px;
  top:0px;
  width:424px;
  height:535px;
}
#u6947 {
  position:absolute;
  left:2px;
  top:260px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u6948 {
  position:absolute;
  left:1216px;
  top:368px;
  width:225px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6949 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  visibility:hidden;
  white-space:nowrap;
}
#u6950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6950 {
  position:absolute;
  left:823px;
  top:133px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6951 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u6952 {
  position:absolute;
  left:805px;
  top:372px;
  width:52px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6953 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u6954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6954 {
  position:absolute;
  left:1107px;
  top:399px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6955 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u6956 {
  position:absolute;
  left:823px;
  top:217px;
  width:52px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6957 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u6958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u6958 {
  position:absolute;
  left:957px;
  top:206px;
  width:67px;
  height:37px;
}
#u6959 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u6960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u6960 {
  position:absolute;
  left:1034px;
  top:206px;
  width:67px;
  height:37px;
}
#u6961 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u6962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:146px;
}
#u6962 {
  position:absolute;
  left:823px;
  top:425px;
  width:452px;
  height:146px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6963 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u6964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u6964 {
  position:absolute;
  left:1111px;
  top:206px;
  width:67px;
  height:37px;
}
#u6965 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u6966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6966 {
  position:absolute;
  left:823px;
  top:38px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6967 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u6968 {
  position:absolute;
  left:823px;
  top:65px;
  width:52px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6969 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u6970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:15px;
}
#u6970 {
  position:absolute;
  left:925px;
  top:523px;
  width:432px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6971 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u6972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u6973 {
  position:absolute;
  left:160px;
  top:1394px;
  width:78px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6974 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u6975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6975 {
  position:absolute;
  left:130px;
  top:1283px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6976 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6977 {
  position:absolute;
  left:343px;
  top:1282px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6978 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6979 {
  position:absolute;
  left:41px;
  top:1250px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6980 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6981 {
  position:absolute;
  left:55px;
  top:1501px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6982 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6983 {
  position:absolute;
  left:130px;
  top:1335px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6984 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6985 {
  position:absolute;
  left:343px;
  top:1334px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6986 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u6987 {
  position:absolute;
  left:160px;
  top:1439px;
  width:78px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6988 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u6989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6989 {
  position:absolute;
  left:118px;
  top:1557px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6990 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6991 {
  position:absolute;
  left:331px;
  top:1556px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6992 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6993 {
  position:absolute;
  left:118px;
  top:1609px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6994 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6995 {
  position:absolute;
  left:331px;
  top:1608px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6996 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6997 {
  position:absolute;
  left:337px;
  top:1400px;
  width:61px;
  height:25px;
}
#u6997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6997_input {
  color:#000000;
}
#u6997_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:67px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u6998 {
  position:absolute;
  left:408px;
  top:1400px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6999 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u7000 {
  position:absolute;
  left:337px;
  top:1445px;
  width:61px;
  height:25px;
}
#u7000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7000_input {
  color:#000000;
}
#u7000_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:67px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u7001 {
  position:absolute;
  left:408px;
  top:1445px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u7002 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u7003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u7003 {
  position:absolute;
  left:928px;
  top:503px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7004 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u7005 {
  position:absolute;
  left:1174px;
  top:510px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u7006 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u7007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u7007 {
  position:absolute;
  left:928px;
  top:558px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7008 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:46px;
}
#u7009 {
  position:absolute;
  left:984px;
  top:543px;
  width:205px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u7011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:15px;
}
#u7011 {
  position:absolute;
  left:920px;
  top:695px;
  width:432px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7012 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u7013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u7013 {
  position:absolute;
  left:812px;
  top:497px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u7014 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u7015 {
  position:absolute;
  left:1103px;
  top:559px;
  width:61px;
  height:20px;
}
#u7015_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7015_input {
  color:#000000;
}
#u7015_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:67px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:46px;
}
#u7016 {
  position:absolute;
  left:279px;
  top:1100px;
  width:129px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7017 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
}
#u7018 {
  position:absolute;
  left:969px;
  top:618px;
  width:75px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u7019 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u7020 {
  position:absolute;
  left:792px;
  top:10px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u7021 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u7022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u7022 {
  position:absolute;
  left:1011px;
  top:25px;
  width:140px;
  height:30px;
  text-align:right;
}
#u7023 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u7024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
}
#u7024 {
  position:absolute;
  left:1011px;
  top:52px;
  width:140px;
  height:28px;
  text-align:right;
}
#u7025 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u7026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:57px;
}
#u7027 {
  position:absolute;
  left:1271px;
  top:25px;
  width:284px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7028 {
  position:absolute;
  left:10px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u7029_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u7029 {
  position:absolute;
  left:1151px;
  top:38px;
  width:120px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7030 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u7031 {
  position:absolute;
  left:1806px;
  top:34px;
  width:140px;
  height:30px;
  text-align:right;
}
#u7032 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
}
#u7033 {
  position:absolute;
  left:1806px;
  top:64px;
  width:140px;
  height:32px;
  text-align:right;
}
#u7034 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u7035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
}
#u7035 {
  position:absolute;
  left:1806px;
  top:96px;
  width:140px;
  height:32px;
  text-align:right;
}
#u7036 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u7037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:57px;
}
#u7038 {
  position:absolute;
  left:2036px;
  top:64px;
  width:294px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7039 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u7040_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:127px;
  height:6px;
}
#u7040 {
  position:absolute;
  left:1912px;
  top:77px;
  width:124px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7041 {
  position:absolute;
  left:2px;
  top:-6px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u7042 {
  position:absolute;
  left:957px;
  top:122px;
  width:67px;
  height:37px;
}
#u7043 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u7044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u7044 {
  position:absolute;
  left:1034px;
  top:122px;
  width:67px;
  height:37px;
}
#u7045 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u7046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u7046 {
  position:absolute;
  left:1111px;
  top:122px;
  width:67px;
  height:37px;
}
#u7047 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u7048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u7048 {
  position:absolute;
  left:880px;
  top:206px;
  width:67px;
  height:37px;
}
#u7049 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u7050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u7050 {
  position:absolute;
  left:801px;
  top:286px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u7051 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u7052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u7052 {
  position:absolute;
  left:908px;
  top:297px;
  width:140px;
  height:30px;
  text-align:right;
}
#u7053 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
}
#u7054 {
  position:absolute;
  left:1048px;
  top:297px;
  width:140px;
  height:28px;
  text-align:right;
}
#u7055 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u7056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
}
#u7056 {
  position:absolute;
  left:908px;
  top:327px;
  width:280px;
  height:26px;
}
#u7057 {
  position:absolute;
  left:2px;
  top:6px;
  width:276px;
  word-wrap:break-word;
}
#u7058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u7058 {
  position:absolute;
  left:825px;
  top:397px;
  width:145px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u7059 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u7060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:15px;
}
#u7060 {
  position:absolute;
  left:990px;
  top:424px;
  width:197px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7061 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u7062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u7062 {
  position:absolute;
  left:1125px;
  top:457px;
  width:300px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7063 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u7064 {
  position:absolute;
  left:1103px;
  top:510px;
  width:61px;
  height:25px;
}
#u7064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7064_input {
  color:#000000;
}
#u7064_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:67px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:15px;
}
#u7065 {
  position:absolute;
  left:984px;
  top:585px;
  width:223px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7066 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u7067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:15px;
}
#u7067 {
  position:absolute;
  left:1038px;
  top:538px;
  width:160px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7068 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u7069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:132px;
}
#u7070 {
  position:absolute;
  left:416px;
  top:519px;
  width:284px;
  height:122px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7071 {
  position:absolute;
  left:10px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u7072_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:418px;
  height:23px;
}
#u7072 {
  position:absolute;
  left:700px;
  top:527px;
  width:415px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7073 {
  position:absolute;
  left:2px;
  top:2px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:29px;
}
#u7074 {
  position:absolute;
  left:266px;
  top:198px;
  width:281px;
  height:29px;
}
#u7075 {
  position:absolute;
  left:2px;
  top:6px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u7076 {
  position:absolute;
  left:547px;
  top:198px;
  width:51px;
  height:29px;
}
#u7077 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u7078 {
  position:absolute;
  left:221px;
  top:198px;
  width:51px;
  height:29px;
}
#u7079 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u7080 {
  position:absolute;
  left:536px;
  top:306px;
  width:150px;
  height:30px;
}
#u7081 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u7082_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7082 {
  position:absolute;
  left:538px;
  top:262px;
  width:77px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7083 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:106px;
}
#u7084 {
  position:absolute;
  left:352px;
  top:306px;
  width:150px;
  height:96px;
}
#u7085 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u7086_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7086 {
  position:absolute;
  left:354px;
  top:262px;
  width:77px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7087 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u7088 {
  position:absolute;
  left:823px;
  top:618px;
  width:78px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u7089 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u7090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u7090 {
  position:absolute;
  left:1090px;
  top:618px;
  width:93px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u7091 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u7092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7093_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:58px;
  height:6px;
}
#u7093 {
  position:absolute;
  left:821px;
  top:667px;
  width:55px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7094 {
  position:absolute;
  left:2px;
  top:-6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u7095 {
  position:absolute;
  left:813px;
  top:685px;
  width:97px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7096 {
  position:absolute;
  left:10px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u7097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7098_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:58px;
  height:6px;
}
#u7098 {
  position:absolute;
  left:984px;
  top:667px;
  width:55px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7099 {
  position:absolute;
  left:2px;
  top:-6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u7100 {
  position:absolute;
  left:976px;
  top:685px;
  width:97px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7101 {
  position:absolute;
  left:10px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u7102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7103_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u7103 {
  position:absolute;
  left:1127px;
  top:674px;
  width:70px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7104 {
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:66px;
}
#u7105 {
  position:absolute;
  left:1125px;
  top:673px;
  width:97px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7106 {
  position:absolute;
  left:10px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
