body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:435px;
  background:inherit;
  background-color:rgba(13, 13, 13, 0.388235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u271 {
  position:absolute;
  left:507px;
  top:59px;
  width:397px;
  height:435px;
}
#u272 {
  position:absolute;
  left:2px;
  top:210px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:435px;
  background:inherit;
  background-color:rgba(13, 13, 13, 0.388235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u273 {
  position:absolute;
  left:100px;
  top:59px;
  width:397px;
  height:435px;
}
#u274 {
  position:absolute;
  left:2px;
  top:210px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:203px;
}
#u275 {
  position:absolute;
  left:158px;
  top:160px;
  width:286px;
  height:203px;
}
#u276 {
  position:absolute;
  left:2px;
  top:94px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u277 {
  position:absolute;
  left:423px;
  top:88px;
  width:56px;
  height:56px;
  font-size:44px;
}
#u278 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u279 {
  position:absolute;
  left:110px;
  top:115px;
  width:313px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u281 {
  position:absolute;
  left:178px;
  top:380px;
  width:263px;
  height:78px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u283 {
  position:absolute;
  left:337px;
  top:227px;
  width:37px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u285 {
  position:absolute;
  left:337px;
  top:325px;
  width:37px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:105px;
}
#u288 {
  position:absolute;
  left:559px;
  top:217px;
  width:284px;
  height:105px;
}
#u289 {
  position:absolute;
  left:2px;
  top:44px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:105px;
}
#u290 {
  position:absolute;
  left:843px;
  top:217px;
  width:2px;
  height:105px;
}
#u291 {
  position:absolute;
  left:2px;
  top:44px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u292 {
  position:absolute;
  left:738px;
  top:284px;
  width:37px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u293 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u294 {
  position:absolute;
  left:837px;
  top:102px;
  width:56px;
  height:56px;
  font-size:44px;
}
#u295 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u296 {
  position:absolute;
  left:520px;
  top:138px;
  width:335px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u298 {
  position:absolute;
  left:570px;
  top:380px;
  width:263px;
  height:78px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:568px;
}
#u300 {
  position:absolute;
  left:1046px;
  top:11px;
  width:404px;
  height:568px;
}
#u301 {
  position:absolute;
  left:2px;
  top:276px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:188px;
}
#u302 {
  position:absolute;
  left:1046px;
  top:701px;
  width:404px;
  height:188px;
}
#u303 {
  position:absolute;
  left:2px;
  top:86px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:878px;
  background:inherit;
  background-color:rgba(13, 13, 13, 0.388235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u304 {
  position:absolute;
  left:1046px;
  top:11px;
  width:397px;
  height:878px;
}
#u305 {
  position:absolute;
  left:2px;
  top:431px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:122px;
}
#u306 {
  position:absolute;
  left:1046px;
  top:579px;
  width:404px;
  height:122px;
}
#u307 {
  position:absolute;
  left:2px;
  top:53px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u308 {
  position:absolute;
  left:1163px;
  top:516px;
  width:121px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u309 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u310 {
  position:absolute;
  left:1092px;
  top:724px;
  width:337px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u311 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
