body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:861px;
}
#u828 {
  position:absolute;
  left:377px;
  top:0px;
  width:484px;
  height:861px;
}
#u829 {
  position:absolute;
  left:2px;
  top:422px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:137px;
  height:6px;
}
#u830 {
  position:absolute;
  left:747px;
  top:199px;
  width:134px;
  height:3px;
}
#u831 {
  position:absolute;
  left:2px;
  top:-6px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u832 {
  position:absolute;
  left:322px;
  top:369px;
  width:77px;
  height:3px;
}
#u833 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u834 {
  position:absolute;
  left:322px;
  top:55px;
  width:77px;
  height:3px;
}
#u835 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u836 {
  position:absolute;
  left:811px;
  top:828px;
  width:77px;
  height:3px;
}
#u837 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:90px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u838 {
  position:absolute;
  left:37px;
  top:15px;
  width:294px;
  height:90px;
}
#u839 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u840 {
  position:absolute;
  left:881px;
  top:186px;
  width:294px;
  height:40px;
}
#u841 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u843_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u843 {
  position:absolute;
  left:322px;
  top:205px;
  width:77px;
  height:3px;
}
#u844 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u845 {
  position:absolute;
  left:46px;
  top:178px;
  width:294px;
  height:56px;
}
#u846 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:63px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u847 {
  position:absolute;
  left:37px;
  top:350px;
  width:294px;
  height:63px;
}
#u848 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u849 {
  position:absolute;
  left:1206px;
  top:15px;
  width:294px;
  height:60px;
}
#u850 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u851 {
  position:absolute;
  left:881px;
  top:812px;
  width:294px;
  height:34px;
}
#u852 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:86px;
  height:6px;
}
#u853 {
  position:absolute;
  left:811px;
  top:369px;
  width:83px;
  height:3px;
}
#u854 {
  position:absolute;
  left:2px;
  top:-6px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:127px;
}
#u855 {
  position:absolute;
  left:888px;
  top:286px;
  width:294px;
  height:127px;
}
#u856 {
  position:absolute;
  left:2px;
  top:56px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
