body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1182px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:861px;
}
#u894 {
  position:absolute;
  left:377px;
  top:0px;
  width:484px;
  height:861px;
}
#u895 {
  position:absolute;
  left:2px;
  top:422px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:137px;
  height:6px;
}
#u896 {
  position:absolute;
  left:747px;
  top:199px;
  width:134px;
  height:3px;
}
#u897 {
  position:absolute;
  left:2px;
  top:-6px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u898 {
  position:absolute;
  left:322px;
  top:369px;
  width:77px;
  height:3px;
}
#u899 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u900 {
  position:absolute;
  left:322px;
  top:55px;
  width:77px;
  height:3px;
}
#u901 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u902 {
  position:absolute;
  left:811px;
  top:828px;
  width:77px;
  height:3px;
}
#u903 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:90px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  position:absolute;
  left:37px;
  top:15px;
  width:294px;
  height:90px;
}
#u905 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:881px;
  top:186px;
  width:294px;
  height:40px;
}
#u907 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u908 {
  position:absolute;
  left:313px;
  top:203px;
  width:77px;
  height:3px;
}
#u909 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:235px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u910 {
  position:absolute;
  left:37px;
  top:178px;
  width:294px;
  height:235px;
}
#u911 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912 {
  position:absolute;
  left:888px;
  top:15px;
  width:294px;
  height:60px;
}
#u913 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  position:absolute;
  left:881px;
  top:812px;
  width:294px;
  height:34px;
}
#u915 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:86px;
  height:6px;
}
#u916 {
  position:absolute;
  left:811px;
  top:369px;
  width:83px;
  height:3px;
}
#u917 {
  position:absolute;
  left:2px;
  top:-6px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:127px;
}
#u918 {
  position:absolute;
  left:888px;
  top:286px;
  width:294px;
  height:127px;
}
#u919 {
  position:absolute;
  left:2px;
  top:56px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
