body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2812px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:174px;
}
#u609 {
  position:absolute;
  left:2062px;
  top:796px;
  width:384px;
  height:174px;
}
#u610 {
  position:absolute;
  left:2px;
  top:79px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:1643px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u612 {
  position:absolute;
  left:833px;
  top:25px;
  width:786px;
  height:1643px;
  font-size:20px;
}
#u613 {
  position:absolute;
  left:2px;
  top:814px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:1634px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u615 {
  position:absolute;
  left:837px;
  top:29px;
  width:778px;
  height:1634px;
  font-size:20px;
}
#u616 {
  position:absolute;
  left:2px;
  top:809px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:1327px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u617 {
  position:absolute;
  left:850px;
  top:175px;
  width:753px;
  height:1327px;
  font-size:20px;
}
#u618 {
  position:absolute;
  left:2px;
  top:656px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u619 {
  position:absolute;
  left:1050px;
  top:88px;
  width:351px;
  height:21px;
  font-size:20px;
}
#u620 {
  position:absolute;
  left:2px;
  top:2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u621 {
  position:absolute;
  left:1050px;
  top:1564px;
  width:351px;
  height:21px;
  font-size:20px;
}
#u622 {
  position:absolute;
  left:2px;
  top:2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:602px;
}
#u623 {
  position:absolute;
  left:851px;
  top:166px;
  width:750px;
  height:602px;
}
#u624 {
  position:absolute;
  left:2px;
  top:293px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:130px;
}
#u626 {
  position:absolute;
  left:851px;
  top:768px;
  width:750px;
  height:130px;
}
#u627 {
  position:absolute;
  left:2px;
  top:57px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u628 {
  position:absolute;
  left:1174px;
  top:812px;
  width:349px;
  height:43px;
  font-size:20px;
  text-align:right;
}
#u629 {
  position:absolute;
  left:10px;
  top:10px;
  width:329px;
  word-wrap:break-word;
}
#u630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:602px;
}
#u630 {
  position:absolute;
  left:851px;
  top:898px;
  width:750px;
  height:602px;
}
#u631 {
  position:absolute;
  left:2px;
  top:293px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:113px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u632 {
  position:absolute;
  left:508px;
  top:592px;
  width:308px;
  height:113px;
  font-size:20px;
}
#u633 {
  position:absolute;
  left:10px;
  top:10px;
  width:288px;
  word-wrap:break-word;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:229px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u634 {
  position:absolute;
  left:508px;
  top:796px;
  width:308px;
  height:229px;
  font-size:20px;
}
#u635 {
  position:absolute;
  left:10px;
  top:10px;
  width:288px;
  word-wrap:break-word;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:113px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u636 {
  position:absolute;
  left:1662px;
  top:656px;
  width:294px;
  height:113px;
  font-size:20px;
}
#u637 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:345px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u638 {
  position:absolute;
  left:1676px;
  top:1205px;
  width:294px;
  height:345px;
  font-size:20px;
}
#u639 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:137px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u640 {
  position:absolute;
  left:1676px;
  top:961px;
  width:294px;
  height:137px;
  font-size:20px;
}
#u641 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:183px;
}
#u642 {
  position:absolute;
  left:77px;
  top:1035px;
  width:750px;
  height:183px;
}
#u643 {
  position:absolute;
  left:2px;
  top:84px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u644 {
  position:absolute;
  left:896px;
  top:592px;
  width:98px;
  height:55px;
  font-size:28px;
}
#u645 {
  position:absolute;
  left:2px;
  top:11px;
  width:94px;
  word-wrap:break-word;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:113px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u646 {
  position:absolute;
  left:1662px;
  top:790px;
  width:294px;
  height:113px;
  font-size:20px;
}
#u647 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:130px;
}
#u649 {
  position:absolute;
  left:2062px;
  top:1011px;
  width:750px;
  height:130px;
}
#u650 {
  position:absolute;
  left:2px;
  top:57px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u651 {
  position:absolute;
  left:2385px;
  top:1055px;
  width:349px;
  height:43px;
  font-size:20px;
  text-align:right;
}
#u652 {
  position:absolute;
  left:10px;
  top:10px;
  width:329px;
  word-wrap:break-word;
}
