body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:809px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u254 {
  position:absolute;
  left:26px;
  top:7px;
  width:376px;
  height:809px;
}
#u255 {
  position:absolute;
  left:2px;
  top:396px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:805px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u257 {
  position:absolute;
  left:28px;
  top:9px;
  width:372px;
  height:805px;
}
#u258 {
  position:absolute;
  left:2px;
  top:394px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:654px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259 {
  position:absolute;
  left:34px;
  top:81px;
  width:360px;
  height:654px;
}
#u260 {
  position:absolute;
  left:2px;
  top:319px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  position:absolute;
  left:130px;
  top:38px;
  width:168px;
  height:10px;
}
#u262 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u263 {
  position:absolute;
  left:130px;
  top:766px;
  width:168px;
  height:10px;
}
#u264 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:780px;
}
#u265 {
  position:absolute;
  left:1157px;
  top:-264px;
  width:2px;
  height:780px;
}
#u266 {
  position:absolute;
  left:2px;
  top:382px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:180px;
}
#u267 {
  position:absolute;
  left:564px;
  top:516px;
  width:2px;
  height:180px;
}
#u268 {
  position:absolute;
  left:2px;
  top:82px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u270_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:303px;
  height:6px;
}
#u270 {
  position:absolute;
  left:363px;
  top:192px;
  width:300px;
  height:3px;
}
#u271 {
  position:absolute;
  left:2px;
  top:-6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u272 {
  position:absolute;
  left:538px;
  top:162px;
  width:300px;
  height:50px;
}
#u273 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u274 {
  position:absolute;
  left:34px;
  top:95px;
  width:360px;
  height:640px;
}
#u275 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:205px;
}
#u276 {
  position:absolute;
  left:459px;
  top:251px;
  width:418px;
  height:205px;
}
#u277 {
  position:absolute;
  left:2px;
  top:94px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
