body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2957px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:192px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u463 {
  position:absolute;
  left:1380px;
  top:506px;
  width:368px;
  height:192px;
  font-size:20px;
}
#u464 {
  position:absolute;
  left:10px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u465 {
  position:absolute;
  left:143px;
  top:221px;
  width:264px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u466 {
  position:absolute;
  left:10px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:71px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u467 {
  position:absolute;
  left:1380px;
  top:342px;
  width:368px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u468 {
  position:absolute;
  left:10px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:71px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u469 {
  position:absolute;
  left:143px;
  top:369px;
  width:264px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u470 {
  position:absolute;
  left:10px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:1656px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u472 {
  position:absolute;
  left:505px;
  top:4px;
  width:786px;
  height:1656px;
  font-size:20px;
}
#u473 {
  position:absolute;
  left:2px;
  top:820px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:1647px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u475 {
  position:absolute;
  left:509px;
  top:8px;
  width:778px;
  height:1647px;
  font-size:20px;
}
#u476 {
  position:absolute;
  left:2px;
  top:816px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:1338px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u477 {
  position:absolute;
  left:522px;
  top:155px;
  width:753px;
  height:1338px;
  font-size:20px;
}
#u478 {
  position:absolute;
  left:2px;
  top:661px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u479 {
  position:absolute;
  left:722px;
  top:67px;
  width:351px;
  height:21px;
  font-size:20px;
}
#u480 {
  position:absolute;
  left:2px;
  top:2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u481 {
  position:absolute;
  left:722px;
  top:1555px;
  width:351px;
  height:21px;
  font-size:20px;
}
#u482 {
  position:absolute;
  left:2px;
  top:2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u483 {
  position:absolute;
  left:522px;
  top:155px;
  width:750px;
  height:1334px;
}
#u484 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:216px;
}
#u485 {
  position:absolute;
  left:1380px;
  top:908px;
  width:500px;
  height:216px;
}
#u486 {
  position:absolute;
  left:2px;
  top:100px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487 {
  position:absolute;
  left:525px;
  top:287px;
  width:648px;
  height:198px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:122px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u488 {
  position:absolute;
  left:1380px;
  top:1358px;
  width:368px;
  height:122px;
  font-size:20px;
}
#u489 {
  position:absolute;
  left:10px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:188px;
}
#u490 {
  position:absolute;
  left:1380px;
  top:710px;
  width:695px;
  height:188px;
}
#u491 {
  position:absolute;
  left:2px;
  top:86px;
  width:691px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u492 {
  position:absolute;
  left:1380px;
  top:139px;
  width:64px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u493 {
  position:absolute;
  left:10px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FF0000;
}
#u494 {
  position:absolute;
  left:213px;
  top:67px;
  width:125px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FF0000;
}
#u495 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u496 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:1656px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u497 {
  position:absolute;
  left:505px;
  top:1808px;
  width:786px;
  height:1656px;
  font-size:20px;
}
#u498 {
  position:absolute;
  left:2px;
  top:820px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:1647px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u500 {
  position:absolute;
  left:509px;
  top:1812px;
  width:778px;
  height:1647px;
  font-size:20px;
}
#u501 {
  position:absolute;
  left:2px;
  top:816px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:1338px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u502 {
  position:absolute;
  left:522px;
  top:1959px;
  width:753px;
  height:1338px;
  font-size:20px;
}
#u503 {
  position:absolute;
  left:2px;
  top:661px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u504 {
  position:absolute;
  left:722px;
  top:1871px;
  width:351px;
  height:21px;
  font-size:20px;
}
#u505 {
  position:absolute;
  left:2px;
  top:2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u506 {
  position:absolute;
  left:722px;
  top:3359px;
  width:351px;
  height:21px;
  font-size:20px;
}
#u507 {
  position:absolute;
  left:2px;
  top:2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FF0000;
}
#u508 {
  position:absolute;
  left:143px;
  top:1959px;
  width:275px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FF0000;
}
#u509 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u510 {
  position:absolute;
  left:522px;
  top:1959px;
  width:750px;
  height:1334px;
}
#u511 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u512 {
  position:absolute;
  left:143px;
  top:539px;
  width:264px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u513 {
  position:absolute;
  left:10px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u514 {
  position:absolute;
  left:143px;
  top:2041px;
  width:264px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u515 {
  position:absolute;
  left:10px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:71px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u516 {
  position:absolute;
  left:143px;
  top:2189px;
  width:264px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u517 {
  position:absolute;
  left:10px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u518 {
  position:absolute;
  left:143px;
  top:2359px;
  width:264px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u519 {
  position:absolute;
  left:10px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:169px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u520 {
  position:absolute;
  left:1380px;
  top:2323px;
  width:368px;
  height:169px;
  font-size:20px;
}
#u521 {
  position:absolute;
  left:10px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:71px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u522 {
  position:absolute;
  left:1380px;
  top:2159px;
  width:368px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u523 {
  position:absolute;
  left:10px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:216px;
}
#u524 {
  position:absolute;
  left:1380px;
  top:2528px;
  width:500px;
  height:216px;
}
#u525 {
  position:absolute;
  left:2px;
  top:100px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:122px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u526 {
  position:absolute;
  left:1380px;
  top:3175px;
  width:368px;
  height:122px;
  font-size:20px;
}
#u527 {
  position:absolute;
  left:10px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u528 {
  position:absolute;
  left:525px;
  top:2091px;
  width:590px;
  height:198px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u529 {
  position:absolute;
  left:2207px;
  top:8px;
  width:750px;
  height:1334px;
}
#u530 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u531 {
  position:absolute;
  left:1896px;
  top:67px;
  width:276px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u532 {
  position:absolute;
  left:10px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
