body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3276px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:688px;
}
#u1023 {
  position:absolute;
  left:1094px;
  top:159px;
  width:597px;
  height:688px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:336px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u1025 {
  position:absolute;
  left:1123px;
  top:522px;
  width:225px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  visibility:hidden;
  white-space:nowrap;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:489px;
}
#u1027 {
  position:absolute;
  left:1123px;
  top:257px;
  width:521px;
  height:489px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:236px;
  width:517px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:96px;
}
#u1030 {
  position:absolute;
  left:0px;
  top:150px;
  width:586px;
  height:96px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:40px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u1032 {
  position:absolute;
  left:18px;
  top:177px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:23px;
}
#u1034 {
  position:absolute;
  left:344px;
  top:187px;
  width:209px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1036 {
  position:absolute;
  left:1123px;
  top:181px;
  width:50px;
  height:50px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:70px;
}
#u1038 {
  position:absolute;
  left:1215px;
  top:183px;
  width:429px;
  height:60px;
  font-size:22px;
}
#u1039 {
  position:absolute;
  left:10px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u1040 {
  position:absolute;
  left:3051px;
  top:507px;
  width:225px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  visibility:hidden;
  white-space:nowrap;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:54px;
}
#u1043 {
  position:absolute;
  left:633px;
  top:176px;
  width:301px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1044 {
  position:absolute;
  left:10px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:6px;
}
#u1045 {
  position:absolute;
  left:563px;
  top:197px;
  width:70px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1046 {
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:215px;
}
#u1048 {
  position:absolute;
  left:1782px;
  top:126px;
  width:429px;
  height:205px;
  font-size:22px;
}
#u1049 {
  position:absolute;
  left:10px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:141px;
  height:6px;
}
#u1050 {
  position:absolute;
  left:1644px;
  top:201px;
  width:138px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1051 {
  position:absolute;
  left:2px;
  top:-6px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:410px;
}
#u1053 {
  position:absolute;
  left:1761px;
  top:360px;
  width:429px;
  height:400px;
  font-size:22px;
}
#u1054 {
  position:absolute;
  left:10px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:141px;
  height:23px;
}
#u1055 {
  position:absolute;
  left:1623px;
  top:390px;
  width:138px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1056 {
  position:absolute;
  left:2px;
  top:2px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u1057 {
  position:absolute;
  left:1483px;
  top:780px;
  width:140px;
  height:40px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:54px;
}
#u1060 {
  position:absolute;
  left:1882px;
  top:780px;
  width:329px;
  height:44px;
  font-size:22px;
}
#u1061 {
  position:absolute;
  left:10px;
  top:10px;
  width:309px;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:277px;
  height:6px;
}
#u1062 {
  position:absolute;
  left:1608px;
  top:803px;
  width:274px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1063 {
  position:absolute;
  left:2px;
  top:-6px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u1064 {
  position:absolute;
  left:1238px;
  top:780px;
  width:140px;
  height:40px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1067_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:346px;
  height:6px;
}
#u1067 {
  position:absolute;
  left:915px;
  top:793px;
  width:343px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1068 {
  position:absolute;
  left:2px;
  top:-6px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:40px;
}
#u1069 {
  position:absolute;
  left:672px;
  top:793px;
  width:264px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1070 {
  position:absolute;
  left:10px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:339px;
}
#u1072 {
  position:absolute;
  left:2282px;
  top:431px;
  width:429px;
  height:329px;
  font-size:22px;
}
#u1073 {
  position:absolute;
  left:10px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
