body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1408px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:631px;
}
#u1997 {
  position:absolute;
  left:438px;
  top:128px;
  width:354px;
  height:631px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:308px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  height:788px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2005 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:640px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
}
#u2007 {
  position:absolute;
  left:104px;
  top:30px;
  width:168px;
  height:10px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
}
#u2009 {
  position:absolute;
  left:104px;
  top:742px;
  width:168px;
  height:10px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:57px;
}
#u2011 {
  position:absolute;
  left:371px;
  top:557px;
  width:2px;
  height:57px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u2013 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:70px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u2015 {
  position:absolute;
  left:8px;
  top:142px;
  width:360px;
  height:85px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:485px;
}
#u2017 {
  position:absolute;
  left:8px;
  top:227px;
  width:360px;
  height:485px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:234px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:377px;
}
#u2019 {
  position:absolute;
  left:916px;
  top:-53px;
  width:492px;
  height:377px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:180px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u2021 {
  position:absolute;
  left:418px;
  top:193px;
  width:82px;
  height:32px;
  font-size:26px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u2023 {
  position:absolute;
  left:579px;
  top:193px;
  width:127px;
  height:32px;
  font-size:26px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
}
#u2025 {
  position:absolute;
  left:706px;
  top:193px;
  width:133px;
  height:32px;
  font-size:26px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u2027 {
  position:absolute;
  left:500px;
  top:193px;
  width:82px;
  height:32px;
  font-size:26px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:74px;
}
#u2029 {
  position:absolute;
  left:405px;
  top:260px;
  width:618px;
  height:74px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  white-space:nowrap;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:111px;
}
#u2031 {
  position:absolute;
  left:43px;
  top:334px;
  width:385px;
  height:111px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
