body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1408px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:631px;
}
#u1588 {
  position:absolute;
  left:438px;
  top:128px;
  width:354px;
  height:631px;
}
#u1589 {
  position:absolute;
  left:2px;
  top:308px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1590 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
}
#u1591 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
}
#u1592 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1593 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
}
#u1594 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  height:788px;
}
#u1595 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1596 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:640px;
}
#u1597 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
}
#u1598 {
  position:absolute;
  left:104px;
  top:30px;
  width:168px;
  height:10px;
}
#u1599 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
}
#u1600 {
  position:absolute;
  left:104px;
  top:742px;
  width:168px;
  height:10px;
}
#u1601 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:57px;
}
#u1602 {
  position:absolute;
  left:371px;
  top:557px;
  width:2px;
  height:57px;
}
#u1603 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u1604 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:70px;
}
#u1605 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1606 {
  position:absolute;
  left:8px;
  top:142px;
  width:360px;
  height:85px;
}
#u1607 {
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:485px;
}
#u1608 {
  position:absolute;
  left:8px;
  top:227px;
  width:360px;
  height:485px;
}
#u1609 {
  position:absolute;
  left:2px;
  top:234px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:377px;
}
#u1610 {
  position:absolute;
  left:916px;
  top:-53px;
  width:492px;
  height:377px;
}
#u1611 {
  position:absolute;
  left:2px;
  top:180px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u1612 {
  position:absolute;
  left:418px;
  top:193px;
  width:82px;
  height:32px;
  font-size:26px;
}
#u1613 {
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u1614 {
  position:absolute;
  left:579px;
  top:193px;
  width:127px;
  height:32px;
  font-size:26px;
}
#u1615 {
  position:absolute;
  left:2px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u1616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
}
#u1616 {
  position:absolute;
  left:706px;
  top:193px;
  width:133px;
  height:32px;
  font-size:26px;
}
#u1617 {
  position:absolute;
  left:2px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u1618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u1618 {
  position:absolute;
  left:500px;
  top:193px;
  width:82px;
  height:32px;
  font-size:26px;
}
#u1619 {
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:74px;
}
#u1620 {
  position:absolute;
  left:405px;
  top:260px;
  width:618px;
  height:74px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1621 {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  white-space:nowrap;
}
#u1622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:111px;
}
#u1622 {
  position:absolute;
  left:43px;
  top:334px;
  width:385px;
  height:111px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1623 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
