body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1408px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:631px;
}
#u1650 {
  position:absolute;
  left:438px;
  top:128px;
  width:354px;
  height:631px;
}
#u1651 {
  position:absolute;
  left:2px;
  top:308px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
}
#u1653 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
}
#u1654 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
}
#u1656 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  height:788px;
}
#u1657 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1658 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:640px;
}
#u1659 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
}
#u1660 {
  position:absolute;
  left:104px;
  top:30px;
  width:168px;
  height:10px;
}
#u1661 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
}
#u1662 {
  position:absolute;
  left:104px;
  top:742px;
  width:168px;
  height:10px;
}
#u1663 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:57px;
}
#u1664 {
  position:absolute;
  left:371px;
  top:557px;
  width:2px;
  height:57px;
}
#u1665 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u1666 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:70px;
}
#u1667 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1668 {
  position:absolute;
  left:8px;
  top:142px;
  width:360px;
  height:85px;
}
#u1669 {
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:485px;
}
#u1670 {
  position:absolute;
  left:8px;
  top:227px;
  width:360px;
  height:485px;
}
#u1671 {
  position:absolute;
  left:2px;
  top:234px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:377px;
}
#u1672 {
  position:absolute;
  left:916px;
  top:-53px;
  width:492px;
  height:377px;
}
#u1673 {
  position:absolute;
  left:2px;
  top:180px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u1674 {
  position:absolute;
  left:418px;
  top:193px;
  width:82px;
  height:32px;
  font-size:26px;
}
#u1675 {
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u1676 {
  position:absolute;
  left:579px;
  top:193px;
  width:127px;
  height:32px;
  font-size:26px;
}
#u1677 {
  position:absolute;
  left:2px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
}
#u1678 {
  position:absolute;
  left:706px;
  top:193px;
  width:133px;
  height:32px;
  font-size:26px;
}
#u1679 {
  position:absolute;
  left:2px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u1680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u1680 {
  position:absolute;
  left:500px;
  top:193px;
  width:82px;
  height:32px;
  font-size:26px;
}
#u1681 {
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:74px;
}
#u1682 {
  position:absolute;
  left:405px;
  top:260px;
  width:618px;
  height:74px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1683 {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  white-space:nowrap;
}
#u1684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:111px;
}
#u1684 {
  position:absolute;
  left:43px;
  top:334px;
  width:385px;
  height:111px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1685 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
