body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2177px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1050px;
}
#u3033 {
  position:absolute;
  left:710px;
  top:0px;
  width:2px;
  height:1050px;
}
#u3034 {
  position:absolute;
  left:2px;
  top:517px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:121px;
}
#u3035 {
  position:absolute;
  left:-7px;
  top:1263px;
  width:717px;
  height:121px;
}
#u3036 {
  position:absolute;
  left:2px;
  top:52px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:109px;
}
#u3037 {
  position:absolute;
  left:710px;
  top:1050px;
  width:2px;
  height:109px;
}
#u3038 {
  position:absolute;
  left:2px;
  top:46px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:121px;
}
#u3039 {
  position:absolute;
  left:710px;
  top:1159px;
  width:2px;
  height:121px;
}
#u3040 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:133px;
}
#u3041 {
  position:absolute;
  left:722px;
  top:0px;
  width:798px;
  height:133px;
}
#u3042 {
  position:absolute;
  left:2px;
  top:58px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:589px;
}
#u3043 {
  position:absolute;
  left:737px;
  top:282px;
  width:798px;
  height:589px;
}
#u3044 {
  position:absolute;
  left:2px;
  top:286px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:133px;
}
#u3045 {
  position:absolute;
  left:1520px;
  top:0px;
  width:15px;
  height:133px;
}
#u3046 {
  position:absolute;
  left:2px;
  top:58px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:662px;
}
#u3047 {
  position:absolute;
  left:1520px;
  top:133px;
  width:15px;
  height:662px;
}
#u3048 {
  position:absolute;
  left:2px;
  top:323px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u3049 {
  position:absolute;
  left:1086px;
  top:64px;
  width:89px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:44px;
}
#u3050 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u3051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:45px;
}
#u3051 {
  position:absolute;
  left:761px;
  top:176px;
  width:177px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:44px;
}
#u3052 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u3053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:33px;
}
#u3053 {
  position:absolute;
  left:1568px;
  top:402px;
  width:497px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:44px;
}
#u3054 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  white-space:nowrap;
}
#u3055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:82px;
}
#u3055 {
  position:absolute;
  left:1477px;
  top:176px;
  width:43px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u3056 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:52px;
}
#u3057 {
  position:absolute;
  left:1568px;
  top:191px;
  width:616px;
  height:52px;
  font-size:44px;
}
#u3058 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  word-wrap:break-word;
}
