body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2177px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1050px;
}
#u6171 {
  position:absolute;
  left:710px;
  top:0px;
  width:2px;
  height:1050px;
}
#u6172 {
  position:absolute;
  left:2px;
  top:517px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:121px;
}
#u6173 {
  position:absolute;
  left:-7px;
  top:1263px;
  width:717px;
  height:121px;
}
#u6174 {
  position:absolute;
  left:2px;
  top:52px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:109px;
}
#u6175 {
  position:absolute;
  left:710px;
  top:1050px;
  width:2px;
  height:109px;
}
#u6176 {
  position:absolute;
  left:2px;
  top:46px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:121px;
}
#u6177 {
  position:absolute;
  left:710px;
  top:1159px;
  width:2px;
  height:121px;
}
#u6178 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:133px;
}
#u6179 {
  position:absolute;
  left:722px;
  top:0px;
  width:798px;
  height:133px;
}
#u6180 {
  position:absolute;
  left:2px;
  top:58px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:589px;
}
#u6181 {
  position:absolute;
  left:737px;
  top:282px;
  width:798px;
  height:589px;
}
#u6182 {
  position:absolute;
  left:2px;
  top:286px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:133px;
}
#u6183 {
  position:absolute;
  left:1520px;
  top:0px;
  width:15px;
  height:133px;
}
#u6184 {
  position:absolute;
  left:2px;
  top:58px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:662px;
}
#u6185 {
  position:absolute;
  left:1520px;
  top:133px;
  width:15px;
  height:662px;
}
#u6186 {
  position:absolute;
  left:2px;
  top:323px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u6187 {
  position:absolute;
  left:1086px;
  top:64px;
  width:89px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:44px;
}
#u6188 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:45px;
}
#u6189 {
  position:absolute;
  left:761px;
  top:176px;
  width:177px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:44px;
}
#u6190 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u6191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:33px;
}
#u6191 {
  position:absolute;
  left:1568px;
  top:402px;
  width:497px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:44px;
}
#u6192 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  white-space:nowrap;
}
#u6193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:82px;
}
#u6193 {
  position:absolute;
  left:1477px;
  top:176px;
  width:43px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u6194 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:52px;
}
#u6195 {
  position:absolute;
  left:1568px;
  top:191px;
  width:616px;
  height:52px;
  font-size:44px;
}
#u6196 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  word-wrap:break-word;
}
