body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2177px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1050px;
}
#u6204 {
  position:absolute;
  left:710px;
  top:0px;
  width:2px;
  height:1050px;
}
#u6205 {
  position:absolute;
  left:2px;
  top:517px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:121px;
}
#u6206 {
  position:absolute;
  left:-7px;
  top:1263px;
  width:717px;
  height:121px;
}
#u6207 {
  position:absolute;
  left:2px;
  top:52px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:109px;
}
#u6208 {
  position:absolute;
  left:710px;
  top:1050px;
  width:2px;
  height:109px;
}
#u6209 {
  position:absolute;
  left:2px;
  top:46px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:121px;
}
#u6210 {
  position:absolute;
  left:710px;
  top:1159px;
  width:2px;
  height:121px;
}
#u6211 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:133px;
}
#u6212 {
  position:absolute;
  left:722px;
  top:0px;
  width:798px;
  height:133px;
}
#u6213 {
  position:absolute;
  left:2px;
  top:58px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:589px;
}
#u6214 {
  position:absolute;
  left:737px;
  top:282px;
  width:798px;
  height:589px;
}
#u6215 {
  position:absolute;
  left:2px;
  top:286px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:133px;
}
#u6216 {
  position:absolute;
  left:1520px;
  top:0px;
  width:15px;
  height:133px;
}
#u6217 {
  position:absolute;
  left:2px;
  top:58px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:662px;
}
#u6218 {
  position:absolute;
  left:1520px;
  top:133px;
  width:15px;
  height:662px;
}
#u6219 {
  position:absolute;
  left:2px;
  top:323px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u6220 {
  position:absolute;
  left:1086px;
  top:64px;
  width:89px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:44px;
}
#u6221 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:45px;
}
#u6222 {
  position:absolute;
  left:761px;
  top:176px;
  width:177px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:44px;
}
#u6223 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u6224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:33px;
}
#u6224 {
  position:absolute;
  left:1568px;
  top:402px;
  width:497px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:44px;
}
#u6225 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  white-space:nowrap;
}
#u6226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:82px;
}
#u6226 {
  position:absolute;
  left:1477px;
  top:176px;
  width:43px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u6227 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:52px;
}
#u6228 {
  position:absolute;
  left:1568px;
  top:191px;
  width:616px;
  height:52px;
  font-size:44px;
}
#u6229 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  word-wrap:break-word;
}
