body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:820px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8671 {
  position:absolute;
  left:904px;
  top:114px;
  width:552px;
  height:820px;
}
#u8672 {
  position:absolute;
  left:2px;
  top:402px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u8673 {
  position:absolute;
  left:216px;
  top:410px;
  width:97px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u8674 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  visibility:hidden;
  white-space:nowrap;
}
#u8675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8676 {
  position:absolute;
  left:45px;
  top:426px;
  width:403px;
  height:34px;
  text-align:left;
}
#u8677 {
  position:absolute;
  left:2px;
  top:10px;
  width:399px;
  word-wrap:break-word;
}
#u8678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u8678 {
  position:absolute;
  left:398px;
  top:429px;
  width:50px;
  height:29px;
}
#u8679 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8680 {
  position:absolute;
  left:45px;
  top:101px;
  width:403px;
  height:34px;
  text-align:left;
}
#u8681 {
  position:absolute;
  left:2px;
  top:10px;
  width:399px;
  word-wrap:break-word;
}
#u8682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8682 {
  position:absolute;
  left:45px;
  top:135px;
  width:403px;
  height:265px;
}
#u8683 {
  position:absolute;
  left:2px;
  top:124px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u8684 {
  position:absolute;
  left:398px;
  top:106px;
  width:50px;
  height:29px;
}
#u8685 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:60px;
}
#u8686 {
  position:absolute;
  left:65px;
  top:145px;
  width:78px;
  height:59px;
}
#u8687 {
  position:absolute;
  left:2px;
  top:22px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8688 {
  position:absolute;
  left:58px;
  top:214px;
  width:102px;
  height:18px;
}
#u8689 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u8690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8691 {
  position:absolute;
  left:917px;
  top:124px;
  width:525px;
  height:123px;
}
#u8692 {
  position:absolute;
  left:2px;
  top:54px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:123px;
}
#u8693 {
  position:absolute;
  left:917px;
  top:124px;
  width:149px;
  height:123px;
}
#u8694 {
  position:absolute;
  left:2px;
  top:54px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8695 {
  position:absolute;
  left:1119px;
  top:144px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8696 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u8697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8697 {
  position:absolute;
  left:1120px;
  top:214px;
  width:149px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8698 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u8699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8700_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u8700 {
  position:absolute;
  left:425px;
  top:435px;
  width:77px;
  height:3px;
}
#u8701 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8702 {
  position:absolute;
  left:483px;
  top:429px;
  width:294px;
  height:31px;
}
#u8703 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8705 {
  position:absolute;
  left:45px;
  top:460px;
  width:403px;
  height:34px;
  text-align:left;
}
#u8706 {
  position:absolute;
  left:2px;
  top:10px;
  width:399px;
  word-wrap:break-word;
}
#u8707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u8707 {
  position:absolute;
  left:398px;
  top:463px;
  width:50px;
  height:29px;
}
#u8708 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8709 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8710 {
  position:absolute;
  left:45px;
  top:494px;
  width:403px;
  height:34px;
  text-align:left;
}
#u8711 {
  position:absolute;
  left:2px;
  top:10px;
  width:399px;
  word-wrap:break-word;
}
#u8712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u8712 {
  position:absolute;
  left:398px;
  top:497px;
  width:50px;
  height:29px;
}
#u8713 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8714 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8715_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:23px;
}
#u8715 {
  position:absolute;
  left:439px;
  top:106px;
  width:77px;
  height:20px;
}
#u8716 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:81px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8717 {
  position:absolute;
  left:497px;
  top:54px;
  width:294px;
  height:81px;
}
#u8718 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8719 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8720_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:373px;
  height:6px;
}
#u8720 {
  position:absolute;
  left:132px;
  top:172px;
  width:370px;
  height:3px;
}
#u8721 {
  position:absolute;
  left:2px;
  top:-6px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:75px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8722 {
  position:absolute;
  left:483px;
  top:161px;
  width:294px;
  height:75px;
}
#u8723 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8724 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8725_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:373px;
  height:23px;
}
#u8725 {
  position:absolute;
  left:1145px;
  top:169px;
  width:370px;
  height:20px;
}
#u8726 {
  position:absolute;
  left:2px;
  top:2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:97px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8727 {
  position:absolute;
  left:1496px;
  top:166px;
  width:294px;
  height:97px;
}
#u8728 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8729 {
  position:absolute;
  left:75px;
  top:319px;
  width:59px;
  height:18px;
}
#u8730 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:67px;
}
#u8731 {
  position:absolute;
  left:65px;
  top:242px;
  width:78px;
  height:67px;
}
#u8732 {
  position:absolute;
  left:2px;
  top:26px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8733 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8734_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:373px;
  height:6px;
}
#u8734 {
  position:absolute;
  left:132px;
  top:273px;
  width:370px;
  height:3px;
}
#u8735 {
  position:absolute;
  left:2px;
  top:-6px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:75px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8736 {
  position:absolute;
  left:483px;
  top:262px;
  width:294px;
  height:75px;
}
#u8737 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8738 {
  position:absolute;
  left:132px;
  top:226px;
  width:23px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8739 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
