body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1681px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:744px;
}
#u8715 {
  position:absolute;
  left:499px;
  top:46px;
  width:418px;
  height:744px;
}
#u8716 {
  position:absolute;
  left:2px;
  top:364px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:742px;
}
#u8717 {
  position:absolute;
  left:1680px;
  top:411px;
  width:1px;
  height:742px;
}
#u8718 {
  position:absolute;
  left:2px;
  top:363px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
}
#u8719 {
  position:absolute;
  left:864px;
  top:76px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8720 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u8721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:60px;
}
#u8721 {
  position:absolute;
  left:515px;
  top:112px;
  width:387px;
  height:60px;
}
#u8722 {
  position:absolute;
  left:2px;
  top:22px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:46px;
}
#u8723 {
  position:absolute;
  left:542px;
  top:126px;
  width:48px;
  height:46px;
}
#u8724 {
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u8725 {
  position:absolute;
  left:1016px;
  top:287px;
  width:300px;
  height:16px;
}
#u8726 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u8728 {
  position:absolute;
  left:967px;
  top:243px;
  width:294px;
  height:60px;
}
#u8729 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8730_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u8730 {
  position:absolute;
  left:890px;
  top:259px;
  width:77px;
  height:3px;
}
#u8731 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8732 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u8733 {
  position:absolute;
  left:950px;
  top:126px;
  width:294px;
  height:60px;
}
#u8734 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8735_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u8735 {
  position:absolute;
  left:873px;
  top:142px;
  width:77px;
  height:3px;
}
#u8736 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8737 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u8738 {
  position:absolute;
  left:989px;
  top:429px;
  width:294px;
  height:60px;
}
#u8739 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8740_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u8740 {
  position:absolute;
  left:912px;
  top:445px;
  width:77px;
  height:3px;
}
#u8741 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:44px;
}
#u8742 {
  position:absolute;
  left:151px;
  top:76px;
  width:294px;
  height:34px;
}
#u8743 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8744_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u8744 {
  position:absolute;
  left:422px;
  top:92px;
  width:77px;
  height:3px;
}
#u8745 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u8746 {
  position:absolute;
  left:151px;
  top:6px;
  width:294px;
  height:60px;
}
#u8747 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
