body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1681px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:744px;
}
#u7254 {
  position:absolute;
  left:499px;
  top:46px;
  width:418px;
  height:744px;
}
#u7255 {
  position:absolute;
  left:2px;
  top:364px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:742px;
}
#u7256 {
  position:absolute;
  left:1680px;
  top:411px;
  width:1px;
  height:742px;
}
#u7257 {
  position:absolute;
  left:2px;
  top:363px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
}
#u7258 {
  position:absolute;
  left:864px;
  top:76px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7259 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u7260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:60px;
}
#u7260 {
  position:absolute;
  left:515px;
  top:112px;
  width:387px;
  height:60px;
}
#u7261 {
  position:absolute;
  left:2px;
  top:22px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:46px;
}
#u7262 {
  position:absolute;
  left:542px;
  top:126px;
  width:48px;
  height:46px;
}
#u7263 {
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u7264 {
  position:absolute;
  left:1016px;
  top:287px;
  width:300px;
  height:16px;
}
#u7265 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u7267 {
  position:absolute;
  left:967px;
  top:243px;
  width:294px;
  height:60px;
}
#u7268 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u7269_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7269 {
  position:absolute;
  left:890px;
  top:259px;
  width:77px;
  height:3px;
}
#u7270 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7271 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u7272 {
  position:absolute;
  left:950px;
  top:126px;
  width:294px;
  height:60px;
}
#u7273 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u7274_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7274 {
  position:absolute;
  left:873px;
  top:142px;
  width:77px;
  height:3px;
}
#u7275 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7276 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u7277 {
  position:absolute;
  left:989px;
  top:429px;
  width:294px;
  height:60px;
}
#u7278 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u7279_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7279 {
  position:absolute;
  left:912px;
  top:445px;
  width:77px;
  height:3px;
}
#u7280 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:44px;
}
#u7281 {
  position:absolute;
  left:151px;
  top:76px;
  width:294px;
  height:34px;
}
#u7282 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u7283_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7283 {
  position:absolute;
  left:422px;
  top:92px;
  width:77px;
  height:3px;
}
#u7284 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u7285 {
  position:absolute;
  left:151px;
  top:6px;
  width:294px;
  height:60px;
}
#u7286 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
