body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2713px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
}
#u6975 {
  position:absolute;
  left:457px;
  top:11px;
  width:376px;
  height:792px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6976 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
}
#u6978 {
  position:absolute;
  left:459px;
  top:13px;
  width:372px;
  height:788px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6979 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u6980 {
  position:absolute;
  left:465px;
  top:83px;
  width:360px;
  height:640px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6981 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
}
#u6982 {
  position:absolute;
  left:561px;
  top:41px;
  width:168px;
  height:10px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6983 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
}
#u6984 {
  position:absolute;
  left:561px;
  top:753px;
  width:168px;
  height:10px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6985 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:62px;
}
#u6987 {
  position:absolute;
  left:472px;
  top:87px;
  width:359px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6988 {
  position:absolute;
  left:2px;
  top:23px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:65px;
}
#u6989 {
  position:absolute;
  left:472px;
  top:149px;
  width:359px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6990 {
  position:absolute;
  left:2px;
  top:24px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:513px;
}
#u6991 {
  position:absolute;
  left:472px;
  top:214px;
  width:359px;
  height:513px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6992 {
  position:absolute;
  left:2px;
  top:248px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:742px;
}
#u6993 {
  position:absolute;
  left:2137px;
  top:422px;
  width:1px;
  height:742px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6994 {
  position:absolute;
  left:2px;
  top:363px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
}
#u6995 {
  position:absolute;
  left:775px;
  top:117px;
  width:36px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6996 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u6997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:42px;
}
#u6997 {
  position:absolute;
  left:2386px;
  top:248px;
  width:289px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6998 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u6999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:84px;
}
#u6999 {
  position:absolute;
  left:2366px;
  top:117px;
  width:289px;
  height:84px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7000 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u7001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:42px;
}
#u7001 {
  position:absolute;
  left:2377px;
  top:201px;
  width:299px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7002 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u7003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:136px;
}
#u7003 {
  position:absolute;
  left:472px;
  top:149px;
  width:359px;
  height:136px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7004 {
  position:absolute;
  left:2px;
  top:60px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:42px;
}
#u7007 {
  position:absolute;
  left:477px;
  top:159px;
  width:380px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7008 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u7009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:39px;
}
#u7009 {
  position:absolute;
  left:561px;
  top:210px;
  width:264px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7010 {
  position:absolute;
  left:2px;
  top:12px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
}
#u7011 {
  position:absolute;
  left:472px;
  top:219px;
  width:71px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7012 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:42px;
}
#u7013 {
  position:absolute;
  left:2386px;
  top:332px;
  width:327px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u7014 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  white-space:nowrap;
}
#u7015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:51px;
}
#u7015 {
  position:absolute;
  left:126px;
  top:11px;
  width:264px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7016 {
  position:absolute;
  left:10px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u7017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:44px;
}
#u7017 {
  position:absolute;
  left:908px;
  top:180px;
  width:333px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7018 {
  position:absolute;
  left:10px;
  top:10px;
  width:313px;
  word-wrap:break-word;
}
#u7019_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7019 {
  position:absolute;
  left:831px;
  top:196px;
  width:77px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7020 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7021 {
  position:absolute;
  left:465px;
  top:149px;
  width:366px;
  height:136px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
}
#u7022 {
  position:absolute;
  left:608px;
  top:117px;
  width:71px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7023 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:44px;
}
#u7024 {
  position:absolute;
  left:900px;
  top:111px;
  width:294px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7025 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u7026_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7026 {
  position:absolute;
  left:823px;
  top:127px;
  width:77px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7027 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:44px;
}
#u7028 {
  position:absolute;
  left:884px;
  top:689px;
  width:294px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7029 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u7030_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7030 {
  position:absolute;
  left:807px;
  top:705px;
  width:77px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7031 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7033_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7033 {
  position:absolute;
  left:395px;
  top:128px;
  width:77px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7034 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:41px;
}
#u7035 {
  position:absolute;
  left:139px;
  top:108px;
  width:264px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7036 {
  position:absolute;
  left:10px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u7037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7038_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7038 {
  position:absolute;
  left:405px;
  top:138px;
  width:77px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7039 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:41px;
}
#u7040 {
  position:absolute;
  left:149px;
  top:118px;
  width:264px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7041 {
  position:absolute;
  left:10px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
