body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1115px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:17px;
}
#u7023 {
  position:absolute;
  left:0px;
  top:1px;
  width:116px;
  height:17px;
}
#u7024 {
  position:absolute;
  left:2px;
  top:0px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:501px;
}
#u7025 {
  position:absolute;
  left:0px;
  top:30px;
  width:116px;
  height:501px;
}
#u7026 {
  position:absolute;
  left:2px;
  top:242px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:23px;
}
#u7027 {
  position:absolute;
  left:116px;
  top:7px;
  width:999px;
  height:23px;
}
#u7028 {
  position:absolute;
  left:2px;
  top:4px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:501px;
}
#u7029 {
  position:absolute;
  left:116px;
  top:30px;
  width:999px;
  height:501px;
}
#u7030 {
  position:absolute;
  left:2px;
  top:242px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:44px;
}
#u7031 {
  position:absolute;
  left:176px;
  top:42px;
  width:312px;
  height:34px;
}
#u7032 {
  position:absolute;
  left:10px;
  top:10px;
  width:292px;
  word-wrap:break-word;
}
#u7033_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7033 {
  position:absolute;
  left:109px;
  top:61px;
  width:77px;
  height:3px;
}
#u7034 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:44px;
}
#u7035 {
  position:absolute;
  left:102px;
  top:196px;
  width:312px;
  height:34px;
}
#u7036 {
  position:absolute;
  left:10px;
  top:10px;
  width:292px;
  word-wrap:break-word;
}
#u7037_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7037 {
  position:absolute;
  left:35px;
  top:211px;
  width:77px;
  height:3px;
}
#u7038 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
}
#u7039 {
  position:absolute;
  left:23px;
  top:18px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7040 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u7041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:29px;
}
#u7041 {
  position:absolute;
  left:447px;
  top:137px;
  width:281px;
  height:29px;
}
#u7042 {
  position:absolute;
  left:2px;
  top:6px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u7043 {
  position:absolute;
  left:728px;
  top:137px;
  width:51px;
  height:29px;
}
#u7044 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u7045 {
  position:absolute;
  left:402px;
  top:137px;
  width:51px;
  height:29px;
}
#u7046 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u7047 {
  position:absolute;
  left:717px;
  top:245px;
  width:150px;
  height:30px;
}
#u7048 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u7049_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7049 {
  position:absolute;
  left:719px;
  top:201px;
  width:77px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7050 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:121px;
}
#u7051 {
  position:absolute;
  left:533px;
  top:245px;
  width:150px;
  height:111px;
}
#u7052 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u7053_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7053 {
  position:absolute;
  left:535px;
  top:201px;
  width:77px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7054 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u7055 {
  position:absolute;
  left:549px;
  top:692px;
  width:150px;
  height:30px;
}
#u7056 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u7057_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7057 {
  position:absolute;
  left:551px;
  top:648px;
  width:77px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7058 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:106px;
}
#u7059 {
  position:absolute;
  left:365px;
  top:692px;
  width:150px;
  height:96px;
}
#u7060 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u7061_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u7061 {
  position:absolute;
  left:367px;
  top:648px;
  width:77px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7062 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:65px;
}
#u7064 {
  position:absolute;
  left:245px;
  top:366px;
  width:632px;
  height:65px;
}
#u7065 {
  position:absolute;
  left:2px;
  top:24px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:65px;
}
#u7066 {
  position:absolute;
  left:877px;
  top:366px;
  width:115px;
  height:65px;
}
#u7067 {
  position:absolute;
  left:2px;
  top:24px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:65px;
}
#u7068 {
  position:absolute;
  left:144px;
  top:366px;
  width:115px;
  height:65px;
}
#u7069 {
  position:absolute;
  left:2px;
  top:24px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
}
#u7070 {
  position:absolute;
  left:278px;
  top:400px;
  width:79px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7071 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:46px;
}
#u7072 {
  position:absolute;
  left:157px;
  top:380px;
  width:88px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7073 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:46px;
}
#u7074 {
  position:absolute;
  left:891px;
  top:376px;
  width:88px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7075 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u7076 {
  position:absolute;
  left:66px;
  top:22px;
  width:31px;
  height:18px;
}
#u7077 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:22px;
}
#u7078 {
  position:absolute;
  left:277px;
  top:372px;
  width:196px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7079 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
