body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:16px;
}
#u686 {
  position:absolute;
  left:461px;
  top:215px;
  width:788px;
  height:16px;
  font-size:44px;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u689_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:440px;
  height:6px;
}
#u689 {
  position:absolute;
  left:339px;
  top:184px;
  width:437px;
  height:3px;
}
#u690 {
  position:absolute;
  left:2px;
  top:-6px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:70px;
}
#u691 {
  position:absolute;
  left:593px;
  top:154px;
  width:436px;
  height:60px;
  font-size:14px;
}
#u692 {
  position:absolute;
  left:10px;
  top:10px;
  width:416px;
  word-wrap:break-word;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:964px;
}
#u694 {
  position:absolute;
  left:26px;
  top:7px;
  width:376px;
  height:964px;
}
#u695 {
  position:absolute;
  left:2px;
  top:474px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:959px;
}
#u697 {
  position:absolute;
  left:28px;
  top:9px;
  width:372px;
  height:959px;
}
#u698 {
  position:absolute;
  left:2px;
  top:472px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:779px;
}
#u699 {
  position:absolute;
  left:34px;
  top:95px;
  width:360px;
  height:779px;
}
#u700 {
  position:absolute;
  left:2px;
  top:382px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:12px;
}
#u701 {
  position:absolute;
  left:130px;
  top:44px;
  width:168px;
  height:12px;
}
#u702 {
  position:absolute;
  left:2px;
  top:-2px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:12px;
}
#u703 {
  position:absolute;
  left:130px;
  top:911px;
  width:168px;
  height:12px;
}
#u704 {
  position:absolute;
  left:2px;
  top:-2px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:431px;
}
#u705 {
  position:absolute;
  left:376px;
  top:183px;
  width:7px;
  height:431px;
}
#u706 {
  position:absolute;
  left:2px;
  top:208px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:72px;
}
#u707 {
  position:absolute;
  left:34px;
  top:95px;
  width:360px;
  height:72px;
  font-size:26px;
}
#u708 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u709 {
  position:absolute;
  left:50px;
  top:117px;
  width:17px;
  height:29px;
}
#u710 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:136px;
}
#u711 {
  position:absolute;
  left:34px;
  top:167px;
  width:360px;
  height:136px;
}
#u712 {
  position:absolute;
  left:2px;
  top:60px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
