body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:16px;
}
#u447 {
  position:absolute;
  left:-304px;
  top:215px;
  width:788px;
  height:16px;
  font-size:44px;
}
#u448 {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:1656px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u450 {
  position:absolute;
  left:21px;
  top:0px;
  width:786px;
  height:1656px;
}
#u451 {
  position:absolute;
  left:2px;
  top:820px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:1647px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u453 {
  position:absolute;
  left:25px;
  top:4px;
  width:778px;
  height:1647px;
}
#u454 {
  position:absolute;
  left:2px;
  top:816px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:1338px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u455 {
  position:absolute;
  left:38px;
  top:151px;
  width:753px;
  height:1338px;
}
#u456 {
  position:absolute;
  left:2px;
  top:661px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457 {
  position:absolute;
  left:238px;
  top:63px;
  width:351px;
  height:21px;
}
#u458 {
  position:absolute;
  left:2px;
  top:2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u459 {
  position:absolute;
  left:238px;
  top:1551px;
  width:351px;
  height:21px;
}
#u460 {
  position:absolute;
  left:2px;
  top:2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u461 {
  position:absolute;
  left:38px;
  top:151px;
  width:750px;
  height:1334px;
}
#u462 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
