body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:16px;
}
#u862 {
  position:absolute;
  left:461px;
  top:215px;
  width:788px;
  height:16px;
  font-size:44px;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u865_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:440px;
  height:6px;
}
#u865 {
  position:absolute;
  left:339px;
  top:184px;
  width:437px;
  height:3px;
}
#u866 {
  position:absolute;
  left:2px;
  top:-6px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:70px;
}
#u867 {
  position:absolute;
  left:593px;
  top:154px;
  width:436px;
  height:60px;
  font-size:14px;
}
#u868 {
  position:absolute;
  left:10px;
  top:10px;
  width:416px;
  word-wrap:break-word;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:964px;
}
#u870 {
  position:absolute;
  left:26px;
  top:7px;
  width:376px;
  height:964px;
}
#u871 {
  position:absolute;
  left:2px;
  top:474px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:959px;
}
#u873 {
  position:absolute;
  left:28px;
  top:9px;
  width:372px;
  height:959px;
}
#u874 {
  position:absolute;
  left:2px;
  top:472px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:779px;
}
#u875 {
  position:absolute;
  left:34px;
  top:95px;
  width:360px;
  height:779px;
}
#u876 {
  position:absolute;
  left:2px;
  top:382px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:12px;
}
#u877 {
  position:absolute;
  left:130px;
  top:44px;
  width:168px;
  height:12px;
}
#u878 {
  position:absolute;
  left:2px;
  top:-2px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:12px;
}
#u879 {
  position:absolute;
  left:130px;
  top:911px;
  width:168px;
  height:12px;
}
#u880 {
  position:absolute;
  left:2px;
  top:-2px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:431px;
}
#u881 {
  position:absolute;
  left:376px;
  top:183px;
  width:7px;
  height:431px;
}
#u882 {
  position:absolute;
  left:2px;
  top:208px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:72px;
}
#u883 {
  position:absolute;
  left:34px;
  top:95px;
  width:360px;
  height:72px;
  font-size:26px;
}
#u884 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u885 {
  position:absolute;
  left:50px;
  top:117px;
  width:17px;
  height:29px;
}
#u886 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:136px;
}
#u887 {
  position:absolute;
  left:34px;
  top:167px;
  width:360px;
  height:136px;
}
#u888 {
  position:absolute;
  left:2px;
  top:60px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
