body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:93px;
}
#u659 {
  position:absolute;
  left:502px;
  top:905px;
  width:3px;
  height:93px;
}
#u660 {
  position:absolute;
  left:2px;
  top:38px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:239px;
}
#u661 {
  position:absolute;
  left:502px;
  top:998px;
  width:3px;
  height:239px;
}
#u662 {
  position:absolute;
  left:2px;
  top:112px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:480px;
}
#u663 {
  position:absolute;
  left:219px;
  top:953px;
  width:712px;
  height:480px;
}
#u664 {
  position:absolute;
  left:2px;
  top:232px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:854px;
}
#u665 {
  position:absolute;
  left:219px;
  top:29px;
  width:712px;
  height:854px;
}
#u666 {
  position:absolute;
  left:2px;
  top:419px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:70px;
}
#u669 {
  position:absolute;
  left:219px;
  top:895px;
  width:712px;
  height:70px;
}
#u670 {
  position:absolute;
  left:2px;
  top:27px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:111px;
}
#u671 {
  position:absolute;
  left:239px;
  top:917px;
  width:385px;
  height:111px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u673 {
  position:absolute;
  left:851px;
  top:912px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
