body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1804px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:113px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u532 {
  position:absolute;
  left:1510px;
  top:467px;
  width:294px;
  height:113px;
  font-size:20px;
}
#u533 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:183px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u534 {
  position:absolute;
  left:1510px;
  top:891px;
  width:294px;
  height:183px;
  font-size:20px;
}
#u535 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:66px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u536 {
  position:absolute;
  left:1510px;
  top:309px;
  width:294px;
  height:66px;
  font-size:20px;
}
#u537 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u538 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:1656px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u539 {
  position:absolute;
  left:597px;
  top:-1px;
  width:786px;
  height:1656px;
  font-size:20px;
}
#u540 {
  position:absolute;
  left:2px;
  top:820px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:1647px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u542 {
  position:absolute;
  left:601px;
  top:3px;
  width:778px;
  height:1647px;
  font-size:20px;
}
#u543 {
  position:absolute;
  left:2px;
  top:816px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:1338px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u544 {
  position:absolute;
  left:614px;
  top:150px;
  width:753px;
  height:1338px;
  font-size:20px;
}
#u545 {
  position:absolute;
  left:2px;
  top:661px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u546 {
  position:absolute;
  left:814px;
  top:62px;
  width:351px;
  height:21px;
  font-size:20px;
}
#u547 {
  position:absolute;
  left:2px;
  top:2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u548 {
  position:absolute;
  left:814px;
  top:1550px;
  width:351px;
  height:21px;
  font-size:20px;
}
#u549 {
  position:absolute;
  left:2px;
  top:2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u550 {
  position:absolute;
  left:615px;
  top:154px;
  width:750px;
  height:1334px;
}
#u551 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
