body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:686px;
  background:inherit;
  background-color:rgba(243, 242, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  position:absolute;
  left:1379px;
  top:139px;
  width:484px;
  height:686px;
}
#u948 {
  position:absolute;
  left:2px;
  top:335px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:686px;
  background:inherit;
  background-color:rgba(243, 242, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u949 {
  position:absolute;
  left:396px;
  top:139px;
  width:484px;
  height:686px;
}
#u950 {
  position:absolute;
  left:2px;
  top:335px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:310px;
}
#u951 {
  position:absolute;
  left:396px;
  top:515px;
  width:484px;
  height:310px;
}
#u952 {
  position:absolute;
  left:2px;
  top:147px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:82px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u953 {
  position:absolute;
  left:1442px;
  top:22px;
  width:294px;
  height:82px;
}
#u954 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:139px;
}
#u955 {
  position:absolute;
  left:396px;
  top:0px;
  width:484px;
  height:139px;
}
#u956 {
  position:absolute;
  left:2px;
  top:62px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:39px;
  background:inherit;
  background-color:rgba(193, 195, 199, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u957 {
  position:absolute;
  left:772px;
  top:777px;
  width:94px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:188px;
}
#u959 {
  position:absolute;
  left:1379px;
  top:149px;
  width:484px;
  height:188px;
}
#u960 {
  position:absolute;
  left:2px;
  top:86px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:188px;
}
#u961 {
  position:absolute;
  left:1379px;
  top:337px;
  width:484px;
  height:188px;
}
#u962 {
  position:absolute;
  left:2px;
  top:86px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:139px;
}
#u963 {
  position:absolute;
  left:1379px;
  top:0px;
  width:484px;
  height:139px;
}
#u964 {
  position:absolute;
  left:2px;
  top:62px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:188px;
}
#u965 {
  position:absolute;
  left:1379px;
  top:525px;
  width:484px;
  height:188px;
}
#u966 {
  position:absolute;
  left:2px;
  top:86px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:188px;
}
#u967 {
  position:absolute;
  left:1379px;
  top:713px;
  width:484px;
  height:188px;
}
#u968 {
  position:absolute;
  left:2px;
  top:86px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u970 {
  position:absolute;
  left:941px;
  top:770px;
  width:301px;
  height:60px;
}
#u971 {
  position:absolute;
  left:10px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:6px;
}
#u972 {
  position:absolute;
  left:856px;
  top:796px;
  width:79px;
  height:3px;
}
#u973 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u975 {
  position:absolute;
  left:910px;
  top:83px;
  width:301px;
  height:60px;
}
#u976 {
  position:absolute;
  left:10px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:6px;
}
#u977 {
  position:absolute;
  left:825px;
  top:109px;
  width:79px;
  height:3px;
}
#u978 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u980 {
  position:absolute;
  left:932px;
  top:576px;
  width:301px;
  height:60px;
}
#u981 {
  position:absolute;
  left:10px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:6px;
}
#u982 {
  position:absolute;
  left:847px;
  top:602px;
  width:79px;
  height:3px;
}
#u983 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u985_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u985 {
  position:absolute;
  left:341px;
  top:51px;
  width:77px;
  height:3px;
}
#u986 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u987 {
  position:absolute;
  left:70px;
  top:35px;
  width:294px;
  height:34px;
}
#u988 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u990 {
  position:absolute;
  left:1889px;
  top:164px;
  width:301px;
  height:60px;
}
#u991 {
  position:absolute;
  left:10px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:6px;
}
#u992 {
  position:absolute;
  left:1804px;
  top:190px;
  width:79px;
  height:3px;
}
#u993 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u995_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u995 {
  position:absolute;
  left:1333px;
  top:51px;
  width:77px;
  height:3px;
}
#u996 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u997 {
  position:absolute;
  left:1062px;
  top:35px;
  width:294px;
  height:34px;
}
#u998 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
