body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u558 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:812px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u559 {
  position:absolute;
  left:26px;
  top:7px;
  width:376px;
  height:812px;
}
#u560 {
  position:absolute;
  left:2px;
  top:398px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u561 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:808px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u562 {
  position:absolute;
  left:28px;
  top:9px;
  width:372px;
  height:808px;
}
#u563 {
  position:absolute;
  left:2px;
  top:396px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:656px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u564 {
  position:absolute;
  left:34px;
  top:81px;
  width:360px;
  height:656px;
}
#u565 {
  position:absolute;
  left:2px;
  top:320px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u566 {
  position:absolute;
  left:130px;
  top:38px;
  width:168px;
  height:10px;
}
#u567 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u568 {
  position:absolute;
  left:130px;
  top:769px;
  width:168px;
  height:10px;
}
#u569 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:780px;
}
#u570 {
  position:absolute;
  left:1157px;
  top:-264px;
  width:2px;
  height:780px;
}
#u571 {
  position:absolute;
  left:2px;
  top:382px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u572 {
  position:absolute;
  left:34px;
  top:95px;
  width:360px;
  height:640px;
}
#u573 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
