body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:732px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5678 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
}
#u5679 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5681 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  height:788px;
}
#u5682 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5683 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:640px;
}
#u5684 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5685 {
  position:absolute;
  left:104px;
  top:30px;
  width:168px;
  height:10px;
}
#u5686 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5687 {
  position:absolute;
  left:104px;
  top:742px;
  width:168px;
  height:10px;
}
#u5688 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u5689 {
  position:absolute;
  left:16px;
  top:72px;
  width:360px;
  height:72px;
  font-size:26px;
}
#u5690 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u5691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:58px;
}
#u5691 {
  position:absolute;
  left:459px;
  top:363px;
  width:273px;
  height:58px;
  font-size:24px;
}
#u5692 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u5693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5693 {
  position:absolute;
  left:8px;
  top:144px;
  width:360px;
  height:114px;
}
#u5694 {
  position:absolute;
  left:2px;
  top:49px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:95px;
}
#u5695 {
  position:absolute;
  left:15px;
  top:154px;
  width:99px;
  height:95px;
}
#u5696 {
  position:absolute;
  left:2px;
  top:40px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5697 {
  position:absolute;
  left:132px;
  top:154px;
  width:38px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5698 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u5699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5699 {
  position:absolute;
  left:133px;
  top:217px;
  width:84px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5700 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u5701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u5701 {
  position:absolute;
  left:220px;
  top:157px;
  width:148px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5702 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u5703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u5703 {
  position:absolute;
  left:229px;
  top:207px;
  width:65px;
  height:30px;
  font-size:9px;
}
#u5704 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u5705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5705 {
  position:absolute;
  left:310px;
  top:204px;
  width:43px;
  height:30px;
}
#u5706 {
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u5707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5708 {
  position:absolute;
  left:431px;
  top:154px;
  width:301px;
  height:60px;
}
#u5709 {
  position:absolute;
  left:10px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u5710_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:6px;
}
#u5710 {
  position:absolute;
  left:346px;
  top:180px;
  width:79px;
  height:3px;
}
#u5711 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
