body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u329 {
  position:absolute;
  left:314px;
  top:817px;
  width:129px;
  height:74px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u330 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:1007px;
}
#u331 {
  position:absolute;
  left:38px;
  top:0px;
  width:566px;
  height:1007px;
}
#u332 {
  position:absolute;
  left:2px;
  top:496px;
  width:562px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u334_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:597px;
  height:6px;
}
#u334 {
  position:absolute;
  left:166px;
  top:626px;
  width:594px;
  height:3px;
}
#u335 {
  position:absolute;
  left:2px;
  top:-6px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u336 {
  position:absolute;
  left:720px;
  top:600px;
  width:439px;
  height:60px;
}
#u337 {
  position:absolute;
  left:10px;
  top:10px;
  width:419px;
  word-wrap:break-word;
}
#u338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u339_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:382px;
  height:6px;
}
#u339 {
  position:absolute;
  left:493px;
  top:320px;
  width:379px;
  height:3px;
}
#u340 {
  position:absolute;
  left:2px;
  top:-6px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:188px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u341 {
  position:absolute;
  left:716px;
  top:294px;
  width:443px;
  height:188px;
}
#u342 {
  position:absolute;
  left:10px;
  top:10px;
  width:423px;
  word-wrap:break-word;
}
#u343 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u344_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:379px;
  height:6px;
}
#u344 {
  position:absolute;
  left:530px;
  top:157px;
  width:376px;
  height:3px;
}
#u345 {
  position:absolute;
  left:2px;
  top:-6px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:116px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u346 {
  position:absolute;
  left:723px;
  top:131px;
  width:436px;
  height:116px;
}
#u347 {
  position:absolute;
  left:10px;
  top:10px;
  width:416px;
  word-wrap:break-word;
}
