body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2031px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:524px;
}
#u6877 {
  position:absolute;
  left:10px;
  top:11px;
  width:1115px;
  height:524px;
}
#u6878 {
  position:absolute;
  left:2px;
  top:254px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:535px;
}
#u6879 {
  position:absolute;
  left:792px;
  top:0px;
  width:424px;
  height:535px;
}
#u6880 {
  position:absolute;
  left:2px;
  top:260px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u6881 {
  position:absolute;
  left:310px;
  top:192px;
  width:43px;
  height:24px;
}
#u6882 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u6883 {
  position:absolute;
  left:353px;
  top:192px;
  width:43px;
  height:24px;
}
#u6884 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u6885 {
  position:absolute;
  left:396px;
  top:192px;
  width:43px;
  height:24px;
}
#u6886 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u6887 {
  position:absolute;
  left:439px;
  top:146px;
  width:43px;
  height:24px;
}
#u6888 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u6889 {
  position:absolute;
  left:482px;
  top:146px;
  width:43px;
  height:24px;
}
#u6890 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6891_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u6891 {
  position:absolute;
  left:507px;
  top:157px;
  width:77px;
  height:3px;
}
#u6892 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:792px;
}
#u6893 {
  position:absolute;
  left:1288px;
  top:944px;
  width:743px;
  height:792px;
}
#u6894 {
  position:absolute;
  left:2px;
  top:388px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:91px;
}
#u6895 {
  position:absolute;
  left:775px;
  top:290px;
  width:128px;
  height:91px;
}
#u6896 {
  position:absolute;
  left:2px;
  top:38px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u6897 {
  position:absolute;
  left:1216px;
  top:368px;
  width:225px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6898 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  visibility:hidden;
  white-space:nowrap;
}
#u6899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:117px;
}
#u6901 {
  position:absolute;
  left:913px;
  top:295px;
  width:439px;
  height:117px;
}
#u6902 {
  position:absolute;
  left:2px;
  top:50px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:37px;
}
#u6903 {
  position:absolute;
  left:944px;
  top:283px;
  width:448px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6904 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  word-wrap:break-word;
}
#u6905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u6905 {
  position:absolute;
  left:823px;
  top:133px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6906 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:37px;
}
#u6907 {
  position:absolute;
  left:937px;
  top:133px;
  width:347px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6908 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u6909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u6909 {
  position:absolute;
  left:814px;
  top:217px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6910 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u6911 {
  position:absolute;
  left:973px;
  top:217px;
  width:67px;
  height:37px;
}
#u6912 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u6913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u6913 {
  position:absolute;
  left:1050px;
  top:217px;
  width:67px;
  height:37px;
}
#u6914 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u6915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u6915 {
  position:absolute;
  left:449px;
  top:192px;
  width:43px;
  height:24px;
}
#u6916 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u6917 {
  position:absolute;
  left:267px;
  top:192px;
  width:43px;
  height:24px;
}
#u6918 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u6919 {
  position:absolute;
  left:1127px;
  top:217px;
  width:67px;
  height:37px;
}
#u6920 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u6921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
}
#u6921 {
  position:absolute;
  left:819px;
  top:10px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u6922 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u6923 {
  position:absolute;
  left:809px;
  top:65px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u6924 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:35px;
}
#u6926 {
  position:absolute;
  left:55px;
  top:1394px;
  width:183px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:right;
}
#u6927 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u6928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
}
#u6928 {
  position:absolute;
  left:103px;
  top:1283px;
  width:54px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:right;
}
#u6929 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u6930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u6930 {
  position:absolute;
  left:343px;
  top:1282px;
  width:145px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u6931 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u6932 {
  position:absolute;
  left:41px;
  top:1250px;
  width:145px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6933 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u6934 {
  position:absolute;
  left:55px;
  top:1501px;
  width:145px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6935 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
}
#u6936 {
  position:absolute;
  left:103px;
  top:1335px;
  width:54px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:right;
}
#u6937 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u6938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u6938 {
  position:absolute;
  left:343px;
  top:1334px;
  width:145px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u6939 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:35px;
}
#u6940 {
  position:absolute;
  left:55px;
  top:1439px;
  width:183px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:right;
}
#u6941 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u6942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
}
#u6942 {
  position:absolute;
  left:91px;
  top:1557px;
  width:54px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:right;
}
#u6943 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u6944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u6944 {
  position:absolute;
  left:331px;
  top:1556px;
  width:145px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u6945 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
}
#u6946 {
  position:absolute;
  left:91px;
  top:1609px;
  width:54px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:right;
}
#u6947 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u6948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u6948 {
  position:absolute;
  left:331px;
  top:1608px;
  width:145px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u6949 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6950 {
  position:absolute;
  left:337px;
  top:1400px;
  width:61px;
  height:25px;
}
#u6950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6950_input {
  color:#000000;
}
#u6950_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:67px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u6951 {
  position:absolute;
  left:408px;
  top:1400px;
  width:145px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u6952 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6953 {
  position:absolute;
  left:337px;
  top:1445px;
  width:61px;
  height:25px;
}
#u6953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6953_input {
  color:#000000;
}
#u6953_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:67px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u6954 {
  position:absolute;
  left:408px;
  top:1445px;
  width:145px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u6955 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:106px;
}
#u6956 {
  position:absolute;
  left:103px;
  top:1100px;
  width:305px;
  height:106px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:right;
}
#u6957 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u6958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:37px;
}
#u6958 {
  position:absolute;
  left:706px;
  top:1396px;
  width:488px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6959 {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  word-wrap:break-word;
}
#u6960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:167px;
}
#u6960 {
  position:absolute;
  left:122px;
  top:0px;
  width:565px;
  height:157px;
}
#u6961 {
  position:absolute;
  left:10px;
  top:10px;
  width:545px;
  word-wrap:break-word;
}
#u6962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u6962 {
  position:absolute;
  left:475px;
  top:65px;
  width:140px;
  height:40px;
  font-size:26px;
}
#u6963 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u6964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u6964 {
  position:absolute;
  left:475px;
  top:222px;
  width:140px;
  height:40px;
  font-size:26px;
}
#u6965 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u6966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:97px;
}
#u6966 {
  position:absolute;
  left:191px;
  top:314px;
  width:229px;
  height:87px;
}
#u6967 {
  position:absolute;
  left:10px;
  top:10px;
  width:209px;
  word-wrap:break-word;
}
#u6968_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u6968 {
  position:absolute;
  left:224px;
  top:270px;
  width:77px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6969 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u6970 {
  position:absolute;
  left:809px;
  top:407px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6971 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u6972 {
  position:absolute;
  left:1016px;
  top:415px;
  width:145px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u6973 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:146px;
}
#u6974 {
  position:absolute;
  left:809px;
  top:508px;
  width:452px;
  height:146px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u6975 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u6976 {
  position:absolute;
  left:962px;
  top:962px;
  width:61px;
  height:25px;
}
#u6976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6976_input {
  color:#000000;
}
#u6976_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:67px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:41px;
}
#u6977 {
  position:absolute;
  left:779px;
  top:897px;
  width:432px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u6978 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u6979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
}
#u6979 {
  position:absolute;
  left:823px;
  top:720px;
  width:54px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:right;
}
#u6980 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u6981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u6981 {
  position:absolute;
  left:1038px;
  top:723px;
  width:145px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u6982 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u6983 {
  position:absolute;
  left:1033px;
  top:962px;
  width:145px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u6984 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
}
#u6985 {
  position:absolute;
  left:823px;
  top:751px;
  width:54px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:right;
}
#u6986 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u6987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:94px;
}
#u6987 {
  position:absolute;
  left:953px;
  top:752px;
  width:164px;
  height:94px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:right;
}
#u6988 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u6989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:41px;
}
#u6989 {
  position:absolute;
  left:774px;
  top:1069px;
  width:432px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u6990 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u6991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u6991 {
  position:absolute;
  left:734px;
  top:659px;
  width:145px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6992 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6993 {
  position:absolute;
  left:962px;
  top:1007px;
  width:61px;
  height:25px;
}
#u6993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6993_input {
  color:#000000;
}
#u6993_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:67px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u6994 {
  position:absolute;
  left:1033px;
  top:1007px;
  width:145px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u6995 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u6996 {
  position:absolute;
  left:760px;
  top:897px;
  width:145px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6997 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u6998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
}
#u6998 {
  position:absolute;
  left:796px;
  top:953px;
  width:54px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:right;
}
#u6999 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u7000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
}
#u7000 {
  position:absolute;
  left:796px;
  top:1005px;
  width:54px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:right;
}
#u7001 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u7002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:37px;
}
#u7002 {
  position:absolute;
  left:723px;
  top:1076px;
  width:488px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7003 {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  word-wrap:break-word;
}
