body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1293px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:607px;
}
#u1218 {
  position:absolute;
  left:724px;
  top:1269px;
  width:569px;
  height:607px;
}
#u1219 {
  position:absolute;
  left:2px;
  top:296px;
  width:565px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:90px;
}
#u1220 {
  position:absolute;
  left:168px;
  top:148px;
  width:522px;
  height:90px;
}
#u1221 {
  position:absolute;
  left:2px;
  top:37px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:96px;
}
#u1223 {
  position:absolute;
  left:168px;
  top:942px;
  width:522px;
  height:96px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:40px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u1225 {
  position:absolute;
  left:184px;
  top:969px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:23px;
}
#u1227 {
  position:absolute;
  left:408px;
  top:979px;
  width:209px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u1229 {
  position:absolute;
  left:570px;
  top:587px;
  width:225px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1230 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  visibility:hidden;
  white-space:nowrap;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:104px;
}
#u1231 {
  position:absolute;
  left:155px;
  top:485px;
  width:577px;
  height:104px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:44px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:57px;
}
#u1233 {
  position:absolute;
  left:204px;
  top:509px;
  width:109px;
  height:57px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u1235 {
  position:absolute;
  left:204px;
  top:519px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1236 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u1237 {
  position:absolute;
  left:473px;
  top:523px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u1239 {
  position:absolute;
  left:563px;
  top:507px;
  width:225px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1240 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  visibility:hidden;
  white-space:nowrap;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:104px;
}
#u1242 {
  position:absolute;
  left:155px;
  top:750px;
  width:577px;
  height:104px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:44px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:57px;
}
#u1244 {
  position:absolute;
  left:204px;
  top:774px;
  width:109px;
  height:57px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u1246 {
  position:absolute;
  left:204px;
  top:784px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u1248 {
  position:absolute;
  left:473px;
  top:788px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:96px;
}
#u1250 {
  position:absolute;
  left:668px;
  top:756px;
  width:71px;
  height:96px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:40px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:96px;
}
#u1252 {
  position:absolute;
  left:661px;
  top:493px;
  width:71px;
  height:96px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:40px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:38px;
}
#u1254 {
  position:absolute;
  left:155px;
  top:445px;
  width:577px;
  height:38px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:11px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:96px;
}
#u1256 {
  position:absolute;
  left:155px;
  top:589px;
  width:506px;
  height:96px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:40px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:96px;
}
#u1258 {
  position:absolute;
  left:661px;
  top:589px;
  width:71px;
  height:96px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:40px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:37px;
}
#u1260 {
  position:absolute;
  left:534px;
  top:1269px;
  width:143px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u1262 {
  position:absolute;
  left:477px;
  top:607px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1263 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:37px;
}
#u1264 {
  position:absolute;
  left:184px;
  top:1269px;
  width:350px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:57px;
}
#u1266 {
  position:absolute;
  left:855px;
  top:964px;
  width:306px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1267 {
  position:absolute;
  left:10px;
  top:10px;
  width:286px;
  word-wrap:break-word;
}
#u1268_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:216px;
  height:6px;
}
#u1268 {
  position:absolute;
  left:680px;
  top:989px;
  width:213px;
  height:3px;
}
#u1269 {
  position:absolute;
  left:2px;
  top:-6px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:149px;
}
#u1271 {
  position:absolute;
  left:190px;
  top:264px;
  width:138px;
  height:149px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:66px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:44px;
}
#u1273 {
  position:absolute;
  left:347px;
  top:273px;
  width:38px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1274 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
}
#u1275 {
  position:absolute;
  left:344px;
  top:361px;
  width:106px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1276 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u1277 {
  position:absolute;
  left:168px;
  top:874px;
  width:46px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  visibility:hidden;
  white-space:nowrap;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:104px;
}
#u1279 {
  position:absolute;
  left:155px;
  top:666px;
  width:577px;
  height:104px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:44px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:57px;
}
#u1281 {
  position:absolute;
  left:204px;
  top:680px;
  width:109px;
  height:57px;
  font-size:30px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:11px;
  width:105px;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u1283 {
  position:absolute;
  left:477px;
  top:694px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1284 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1285 {
  position:absolute;
  left:237px;
  top:1059px;
  width:400px;
  height:205px;
}
#u1286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
}
#u1286 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1287 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u1288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:35px;
}
#u1288 {
  position:absolute;
  left:142px;
  top:0px;
  width:253px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1289 {
  position:absolute;
  left:2px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u1290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u1290 {
  position:absolute;
  left:0px;
  top:35px;
  width:142px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1291 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u1292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u1292 {
  position:absolute;
  left:142px;
  top:35px;
  width:253px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1293 {
  position:absolute;
  left:2px;
  top:8px;
  width:249px;
  word-wrap:break-word;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u1294 {
  position:absolute;
  left:0px;
  top:65px;
  width:142px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1295 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u1296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:31px;
}
#u1296 {
  position:absolute;
  left:142px;
  top:65px;
  width:253px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1297 {
  position:absolute;
  left:2px;
  top:8px;
  width:249px;
  word-wrap:break-word;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:34px;
}
#u1298 {
  position:absolute;
  left:0px;
  top:96px;
  width:142px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1299 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:34px;
}
#u1300 {
  position:absolute;
  left:142px;
  top:96px;
  width:253px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1301 {
  position:absolute;
  left:2px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u1302 {
  position:absolute;
  left:0px;
  top:130px;
  width:142px;
  height:30px;
  text-align:left;
}
#u1303 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u1304 {
  position:absolute;
  left:142px;
  top:130px;
  width:253px;
  height:30px;
  text-align:right;
}
#u1305 {
  position:absolute;
  left:2px;
  top:8px;
  width:249px;
  word-wrap:break-word;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u1306 {
  position:absolute;
  left:0px;
  top:160px;
  width:142px;
  height:40px;
  text-align:left;
}
#u1307 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:40px;
}
#u1308 {
  position:absolute;
  left:142px;
  top:160px;
  width:253px;
  height:40px;
  text-align:right;
}
#u1309 {
  position:absolute;
  left:2px;
  top:12px;
  width:249px;
  word-wrap:break-word;
}
#u1310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:130px;
}
#u1312 {
  position:absolute;
  left:203px;
  top:824px;
  width:401px;
  height:130px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:57px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:94px;
}
#u1314 {
  position:absolute;
  left:203px;
  top:840px;
  width:401px;
  height:94px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:39px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u1316 {
  position:absolute;
  left:203px;
  top:864px;
  width:360px;
  height:70px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
}
#u1318 {
  position:absolute;
  left:219px;
  top:852px;
  width:56px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1319 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:41px;
}
#u1320 {
  position:absolute;
  left:578px;
  top:888px;
  width:22px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1322 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:43px;
}
#u1323 {
  position:absolute;
  left:654px;
  top:886px;
  width:224px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1324 {
  position:absolute;
  left:10px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u1325_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:55px;
  height:6px;
}
#u1325 {
  position:absolute;
  left:602px;
  top:901px;
  width:52px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1326 {
  position:absolute;
  left:2px;
  top:-6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:57px;
}
#u1328 {
  position:absolute;
  left:855px;
  top:1079px;
  width:306px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1329 {
  position:absolute;
  left:10px;
  top:10px;
  width:286px;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:216px;
  height:6px;
}
#u1330 {
  position:absolute;
  left:642px;
  top:1101px;
  width:213px;
  height:3px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:-6px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:57px;
}
#u1332 {
  position:absolute;
  left:845px;
  top:1122px;
  width:341px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1333 {
  position:absolute;
  left:10px;
  top:10px;
  width:321px;
  word-wrap:break-word;
}
#u1334_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:216px;
  height:6px;
}
#u1334 {
  position:absolute;
  left:632px;
  top:1144px;
  width:213px;
  height:3px;
}
#u1335 {
  position:absolute;
  left:2px;
  top:-6px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:57px;
}
#u1336 {
  position:absolute;
  left:845px;
  top:1179px;
  width:306px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1337 {
  position:absolute;
  left:10px;
  top:10px;
  width:286px;
  word-wrap:break-word;
}
#u1338_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:216px;
  height:6px;
}
#u1338 {
  position:absolute;
  left:632px;
  top:1201px;
  width:213px;
  height:3px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:-6px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:57px;
}
#u1340 {
  position:absolute;
  left:918px;
  top:685px;
  width:306px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1341 {
  position:absolute;
  left:10px;
  top:10px;
  width:286px;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:216px;
  height:6px;
}
#u1342 {
  position:absolute;
  left:715px;
  top:707px;
  width:213px;
  height:3px;
}
#u1343 {
  position:absolute;
  left:2px;
  top:-6px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:215px;
}
#u1344 {
  position:absolute;
  left:839px;
  top:1259px;
  width:306px;
  height:205px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1345 {
  position:absolute;
  left:10px;
  top:10px;
  width:286px;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:216px;
  height:6px;
}
#u1346 {
  position:absolute;
  left:626px;
  top:1281px;
  width:213px;
  height:3px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:-6px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u1348 {
  position:absolute;
  left:478px;
  top:1413px;
  width:1px;
  height:16px;
}
#u1349 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1350 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:110px;
}
#u1351 {
  position:absolute;
  left:184px;
  top:1349px;
  width:429px;
  height:100px;
  font-size:22px;
}
#u1352 {
  position:absolute;
  left:10px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u1353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:181px;
}
#u1353 {
  position:absolute;
  left:845px;
  top:303px;
  width:352px;
  height:171px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1354 {
  position:absolute;
  left:10px;
  top:10px;
  width:332px;
  word-wrap:break-word;
}
