body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1797px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1935 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  height:788px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1937 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:640px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1939 {
  position:absolute;
  left:104px;
  top:30px;
  width:168px;
  height:10px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1941 {
  position:absolute;
  left:104px;
  top:742px;
  width:168px;
  height:10px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:70px;
}
#u1943 {
  position:absolute;
  left:8px;
  top:72px;
  width:174px;
  height:70px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:27px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:70px;
}
#u1945 {
  position:absolute;
  left:182px;
  top:72px;
  width:1px;
  height:70px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:27px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:70px;
}
#u1947 {
  position:absolute;
  left:183px;
  top:72px;
  width:1px;
  height:70px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:27px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:114px;
}
#u1949 {
  position:absolute;
  left:8px;
  top:142px;
  width:174px;
  height:114px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:49px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:119px;
}
#u1951 {
  position:absolute;
  left:8px;
  top:256px;
  width:174px;
  height:119px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:52px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:233px;
}
#u1953 {
  position:absolute;
  left:182px;
  top:142px;
  width:1px;
  height:233px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:108px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:116px;
}
#u1955 {
  position:absolute;
  left:8px;
  top:375px;
  width:174px;
  height:116px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:50px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:120px;
}
#u1957 {
  position:absolute;
  left:8px;
  top:491px;
  width:174px;
  height:120px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:52px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:101px;
}
#u1959 {
  position:absolute;
  left:8px;
  top:611px;
  width:174px;
  height:101px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:42px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:116px;
}
#u1961 {
  position:absolute;
  left:182px;
  top:375px;
  width:1px;
  height:116px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:50px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:120px;
}
#u1963 {
  position:absolute;
  left:182px;
  top:491px;
  width:1px;
  height:120px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:101px;
}
#u1965 {
  position:absolute;
  left:182px;
  top:611px;
  width:1px;
  height:101px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:42px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:233px;
}
#u1967 {
  position:absolute;
  left:183px;
  top:142px;
  width:1px;
  height:233px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:108px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:116px;
}
#u1969 {
  position:absolute;
  left:183px;
  top:375px;
  width:1px;
  height:116px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:50px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:120px;
}
#u1971 {
  position:absolute;
  left:183px;
  top:491px;
  width:1px;
  height:120px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:101px;
}
#u1973 {
  position:absolute;
  left:183px;
  top:611px;
  width:1px;
  height:101px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:42px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:70px;
}
#u1975 {
  position:absolute;
  left:184px;
  top:72px;
  width:184px;
  height:70px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:27px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:115px;
}
#u1977 {
  position:absolute;
  left:184px;
  top:142px;
  width:184px;
  height:115px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:50px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:118px;
}
#u1979 {
  position:absolute;
  left:184px;
  top:257px;
  width:184px;
  height:118px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:51px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:116px;
}
#u1981 {
  position:absolute;
  left:184px;
  top:375px;
  width:184px;
  height:116px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:50px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:120px;
}
#u1983 {
  position:absolute;
  left:184px;
  top:491px;
  width:184px;
  height:120px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:52px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:101px;
}
#u1985 {
  position:absolute;
  left:184px;
  top:611px;
  width:184px;
  height:101px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:42px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u1987 {
  position:absolute;
  left:478px;
  top:340px;
  width:1px;
  height:16px;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:609px;
}
#u1989 {
  position:absolute;
  left:1066px;
  top:72px;
  width:351px;
  height:609px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:296px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:275px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
}
#u1991 {
  position:absolute;
  left:401px;
  top:388px;
  width:366px;
  height:275px;
  font-size:20px;
}
#u1992 {
  position:absolute;
  left:10px;
  top:10px;
  width:346px;
  word-wrap:break-word;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:182px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
}
#u1993 {
  position:absolute;
  left:1459px;
  top:190px;
  width:338px;
  height:182px;
  font-size:20px;
}
#u1994 {
  position:absolute;
  left:10px;
  top:10px;
  width:318px;
  word-wrap:break-word;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:276px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
}
#u1995 {
  position:absolute;
  left:778px;
  top:104px;
  width:255px;
  height:276px;
  font-size:20px;
}
#u1996 {
  position:absolute;
  left:10px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
