body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1797px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5980 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
}
#u5981 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5983 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  height:788px;
}
#u5984 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5985 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:640px;
}
#u5986 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5987 {
  position:absolute;
  left:104px;
  top:30px;
  width:168px;
  height:10px;
}
#u5988 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5989 {
  position:absolute;
  left:104px;
  top:742px;
  width:168px;
  height:10px;
}
#u5990 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:70px;
}
#u5991 {
  position:absolute;
  left:8px;
  top:72px;
  width:174px;
  height:70px;
}
#u5992 {
  position:absolute;
  left:2px;
  top:27px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:70px;
}
#u5993 {
  position:absolute;
  left:182px;
  top:72px;
  width:1px;
  height:70px;
}
#u5994 {
  position:absolute;
  left:2px;
  top:27px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:70px;
}
#u5995 {
  position:absolute;
  left:183px;
  top:72px;
  width:1px;
  height:70px;
}
#u5996 {
  position:absolute;
  left:2px;
  top:27px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:114px;
}
#u5997 {
  position:absolute;
  left:8px;
  top:142px;
  width:174px;
  height:114px;
}
#u5998 {
  position:absolute;
  left:2px;
  top:49px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:119px;
}
#u5999 {
  position:absolute;
  left:8px;
  top:256px;
  width:174px;
  height:119px;
}
#u6000 {
  position:absolute;
  left:2px;
  top:52px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:233px;
}
#u6001 {
  position:absolute;
  left:182px;
  top:142px;
  width:1px;
  height:233px;
}
#u6002 {
  position:absolute;
  left:2px;
  top:108px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:116px;
}
#u6003 {
  position:absolute;
  left:8px;
  top:375px;
  width:174px;
  height:116px;
}
#u6004 {
  position:absolute;
  left:2px;
  top:50px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:120px;
}
#u6005 {
  position:absolute;
  left:8px;
  top:491px;
  width:174px;
  height:120px;
}
#u6006 {
  position:absolute;
  left:2px;
  top:52px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:101px;
}
#u6007 {
  position:absolute;
  left:8px;
  top:611px;
  width:174px;
  height:101px;
}
#u6008 {
  position:absolute;
  left:2px;
  top:42px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:116px;
}
#u6009 {
  position:absolute;
  left:182px;
  top:375px;
  width:1px;
  height:116px;
}
#u6010 {
  position:absolute;
  left:2px;
  top:50px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:120px;
}
#u6011 {
  position:absolute;
  left:182px;
  top:491px;
  width:1px;
  height:120px;
}
#u6012 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:101px;
}
#u6013 {
  position:absolute;
  left:182px;
  top:611px;
  width:1px;
  height:101px;
}
#u6014 {
  position:absolute;
  left:2px;
  top:42px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:233px;
}
#u6015 {
  position:absolute;
  left:183px;
  top:142px;
  width:1px;
  height:233px;
}
#u6016 {
  position:absolute;
  left:2px;
  top:108px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:116px;
}
#u6017 {
  position:absolute;
  left:183px;
  top:375px;
  width:1px;
  height:116px;
}
#u6018 {
  position:absolute;
  left:2px;
  top:50px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:120px;
}
#u6019 {
  position:absolute;
  left:183px;
  top:491px;
  width:1px;
  height:120px;
}
#u6020 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:101px;
}
#u6021 {
  position:absolute;
  left:183px;
  top:611px;
  width:1px;
  height:101px;
}
#u6022 {
  position:absolute;
  left:2px;
  top:42px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:70px;
}
#u6023 {
  position:absolute;
  left:184px;
  top:72px;
  width:184px;
  height:70px;
}
#u6024 {
  position:absolute;
  left:2px;
  top:27px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:115px;
}
#u6025 {
  position:absolute;
  left:184px;
  top:142px;
  width:184px;
  height:115px;
}
#u6026 {
  position:absolute;
  left:2px;
  top:50px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:118px;
}
#u6027 {
  position:absolute;
  left:184px;
  top:257px;
  width:184px;
  height:118px;
}
#u6028 {
  position:absolute;
  left:2px;
  top:51px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:116px;
}
#u6029 {
  position:absolute;
  left:184px;
  top:375px;
  width:184px;
  height:116px;
}
#u6030 {
  position:absolute;
  left:2px;
  top:50px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:120px;
}
#u6031 {
  position:absolute;
  left:184px;
  top:491px;
  width:184px;
  height:120px;
}
#u6032 {
  position:absolute;
  left:2px;
  top:52px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:101px;
}
#u6033 {
  position:absolute;
  left:184px;
  top:611px;
  width:184px;
  height:101px;
}
#u6034 {
  position:absolute;
  left:2px;
  top:42px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u6035 {
  position:absolute;
  left:478px;
  top:340px;
  width:1px;
  height:16px;
}
#u6036 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u6037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:609px;
}
#u6037 {
  position:absolute;
  left:1066px;
  top:72px;
  width:351px;
  height:609px;
}
#u6038 {
  position:absolute;
  left:2px;
  top:296px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:275px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
}
#u6039 {
  position:absolute;
  left:401px;
  top:388px;
  width:366px;
  height:275px;
  font-size:20px;
}
#u6040 {
  position:absolute;
  left:10px;
  top:10px;
  width:346px;
  word-wrap:break-word;
}
#u6041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:182px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
}
#u6041 {
  position:absolute;
  left:1459px;
  top:190px;
  width:338px;
  height:182px;
  font-size:20px;
}
#u6042 {
  position:absolute;
  left:10px;
  top:10px;
  width:318px;
  word-wrap:break-word;
}
#u6043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:276px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
}
#u6043 {
  position:absolute;
  left:778px;
  top:104px;
  width:255px;
  height:276px;
  font-size:20px;
}
#u6044 {
  position:absolute;
  left:10px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
