body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3264px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:57px;
}
#u6076 {
  position:absolute;
  left:1478px;
  top:739px;
  width:2px;
  height:57px;
}
#u6077 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:856px;
}
#u6078 {
  position:absolute;
  left:1808px;
  top:238px;
  width:719px;
  height:856px;
}
#u6079 {
  position:absolute;
  left:2px;
  top:420px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:424px;
}
#u6080 {
  position:absolute;
  left:1808px;
  top:1094px;
  width:719px;
  height:424px;
}
#u6081 {
  position:absolute;
  left:2px;
  top:204px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:1328px;
}
#u6082 {
  position:absolute;
  left:2556px;
  top:192px;
  width:691px;
  height:1328px;
}
#u6083 {
  position:absolute;
  left:2px;
  top:656px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:56px;
}
#u6084 {
  position:absolute;
  left:2563px;
  top:328px;
  width:65px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6085 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:439px;
}
#u6086 {
  position:absolute;
  left:2556px;
  top:1081px;
  width:708px;
  height:439px;
}
#u6087 {
  position:absolute;
  left:2px;
  top:212px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:164px;
}
#u6088 {
  position:absolute;
  left:2646px;
  top:469px;
  width:461px;
  height:164px;
}
#u6089 {
  position:absolute;
  left:2px;
  top:74px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:424px;
}
#u6090 {
  position:absolute;
  left:1014px;
  top:1094px;
  width:719px;
  height:424px;
}
#u6091 {
  position:absolute;
  left:2px;
  top:204px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:119px;
}
#u6092 {
  position:absolute;
  left:371px;
  top:1156px;
  width:400px;
  height:119px;
  font-size:48px;
}
#u6093 {
  position:absolute;
  left:2px;
  top:32px;
  width:396px;
  word-wrap:break-word;
}
#u6094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:1px;
}
#u6094 {
  position:absolute;
  left:1079px;
  top:469px;
  width:161px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6095 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u6096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:119px;
}
#u6096 {
  position:absolute;
  left:371px;
  top:1285px;
  width:400px;
  height:119px;
  font-size:48px;
}
#u6097 {
  position:absolute;
  left:2px;
  top:32px;
  width:396px;
  word-wrap:break-word;
}
#u6098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:119px;
}
#u6098 {
  position:absolute;
  left:1080px;
  top:560px;
  width:607px;
  height:119px;
  font-size:48px;
}
#u6099 {
  position:absolute;
  left:2px;
  top:32px;
  width:603px;
  word-wrap:break-word;
}
#u6100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:119px;
}
#u6100 {
  position:absolute;
  left:1174px;
  top:739px;
  width:400px;
  height:119px;
  font-size:48px;
}
#u6101 {
  position:absolute;
  left:2px;
  top:32px;
  width:396px;
  word-wrap:break-word;
}
