body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1408px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:631px;
}
#u6069 {
  position:absolute;
  left:438px;
  top:128px;
  width:354px;
  height:631px;
}
#u6070 {
  position:absolute;
  left:2px;
  top:308px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
}
#u6072 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
}
#u6073 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
}
#u6075 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  height:788px;
}
#u6076 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u6077 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:640px;
}
#u6078 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
}
#u6079 {
  position:absolute;
  left:104px;
  top:30px;
  width:168px;
  height:10px;
}
#u6080 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
}
#u6081 {
  position:absolute;
  left:104px;
  top:742px;
  width:168px;
  height:10px;
}
#u6082 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:57px;
}
#u6083 {
  position:absolute;
  left:371px;
  top:557px;
  width:2px;
  height:57px;
}
#u6084 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u6085 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:640px;
}
#u6086 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:377px;
}
#u6087 {
  position:absolute;
  left:916px;
  top:-53px;
  width:492px;
  height:377px;
}
#u6088 {
  position:absolute;
  left:2px;
  top:180px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u6089 {
  position:absolute;
  left:418px;
  top:193px;
  width:82px;
  height:32px;
  font-size:26px;
}
#u6090 {
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u6091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u6091 {
  position:absolute;
  left:579px;
  top:193px;
  width:127px;
  height:32px;
  font-size:26px;
}
#u6092 {
  position:absolute;
  left:2px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u6093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
}
#u6093 {
  position:absolute;
  left:706px;
  top:193px;
  width:133px;
  height:32px;
  font-size:26px;
}
#u6094 {
  position:absolute;
  left:2px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u6095 {
  position:absolute;
  left:500px;
  top:193px;
  width:82px;
  height:32px;
  font-size:26px;
}
#u6096 {
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u6097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:74px;
}
#u6097 {
  position:absolute;
  left:405px;
  top:260px;
  width:618px;
  height:74px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6098 {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  white-space:nowrap;
}
#u6099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:111px;
}
#u6099 {
  position:absolute;
  left:43px;
  top:334px;
  width:385px;
  height:111px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6100 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
