body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:744px;
}
#u8044 {
  position:absolute;
  left:499px;
  top:46px;
  width:418px;
  height:744px;
}
#u8045 {
  position:absolute;
  left:2px;
  top:364px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:742px;
}
#u8046 {
  position:absolute;
  left:1680px;
  top:411px;
  width:1px;
  height:742px;
}
#u8047 {
  position:absolute;
  left:2px;
  top:363px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
}
#u8048 {
  position:absolute;
  left:864px;
  top:76px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8049 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u8050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:60px;
}
#u8050 {
  position:absolute;
  left:515px;
  top:112px;
  width:387px;
  height:60px;
}
#u8051 {
  position:absolute;
  left:2px;
  top:22px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:46px;
}
#u8052 {
  position:absolute;
  left:542px;
  top:126px;
  width:48px;
  height:46px;
}
#u8053 {
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u8054 {
  position:absolute;
  left:1016px;
  top:287px;
  width:300px;
  height:16px;
}
#u8055 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u8057 {
  position:absolute;
  left:967px;
  top:243px;
  width:294px;
  height:60px;
}
#u8058 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8059_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u8059 {
  position:absolute;
  left:890px;
  top:259px;
  width:77px;
  height:3px;
}
#u8060 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u8062 {
  position:absolute;
  left:950px;
  top:126px;
  width:294px;
  height:60px;
}
#u8063 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8064_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u8064 {
  position:absolute;
  left:873px;
  top:142px;
  width:77px;
  height:3px;
}
#u8065 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u8067 {
  position:absolute;
  left:989px;
  top:429px;
  width:294px;
  height:60px;
}
#u8068 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8069_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u8069 {
  position:absolute;
  left:912px;
  top:445px;
  width:77px;
  height:3px;
}
#u8070 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:67px;
}
#u8071 {
  position:absolute;
  left:151px;
  top:76px;
  width:294px;
  height:57px;
}
#u8072 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8073_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u8073 {
  position:absolute;
  left:422px;
  top:92px;
  width:77px;
  height:3px;
}
#u8074 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u8075 {
  position:absolute;
  left:151px;
  top:6px;
  width:294px;
  height:60px;
}
#u8076 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:60px;
}
#u8077 {
  position:absolute;
  left:1326px;
  top:92px;
  width:418px;
  height:60px;
}
#u8078 {
  position:absolute;
  left:2px;
  top:22px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:46px;
}
#u8079 {
  position:absolute;
  left:1353px;
  top:106px;
  width:48px;
  height:46px;
}
#u8080 {
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:263px;
}
#u8081 {
  position:absolute;
  left:1326px;
  top:527px;
  width:418px;
  height:263px;
}
#u8082 {
  position:absolute;
  left:2px;
  top:124px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:375px;
}
#u8083 {
  position:absolute;
  left:1866px;
  top:152px;
  width:418px;
  height:375px;
}
#u8084 {
  position:absolute;
  left:2px;
  top:180px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:60px;
}
#u8085 {
  position:absolute;
  left:1866px;
  top:92px;
  width:418px;
  height:60px;
}
#u8086 {
  position:absolute;
  left:2px;
  top:22px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:46px;
}
#u8087 {
  position:absolute;
  left:1893px;
  top:106px;
  width:48px;
  height:46px;
}
#u8088 {
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:263px;
}
#u8089 {
  position:absolute;
  left:1866px;
  top:527px;
  width:418px;
  height:263px;
}
#u8090 {
  position:absolute;
  left:2px;
  top:124px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u8092 {
  position:absolute;
  left:2354px;
  top:162px;
  width:294px;
  height:60px;
}
#u8093 {
  position:absolute;
  left:10px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8094_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u8094 {
  position:absolute;
  left:2277px;
  top:178px;
  width:77px;
  height:3px;
}
#u8095 {
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
